<!--<page-header [title]="'绑定个体信息'" *ngIf="processType.length > 0 "></page-header>-->
<nz-card [nzBordered]="false">
  <div nz-row>
    <sf  #bind [button]="null"
         [schema]="emptyFormSchema"
         [formData]="businessData"
         mode="edit"
         (formError)="error($event)">
      <button type="submit" nz-button [disabled]="!sf.valid" (click)="saveRelation()">保存</button>
      <button (click)="removeRelation()"  type="button" nz-button>取消</button>
      <button (click)="newPersion()"  type="button" nz-button>新增个体信息</button>
    </sf>
    <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

  </div>

    <!--<div nz-row >-->
    <!--<div  nz-col [nzSpan]="20" [nzOffset]="4">-->
    <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click) = "showButtonClick($event)">show</button>-->

    <!--</div>-->

    <!--</div>-->
</nz-card>

