<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">荣昌项目管理系统</span>
      </div>
      <div class="desc">人生至善，就是对生活乐观，对工作愉快，对事业兴奋</div>
      <!--<div class="desc">武林中最有影响力的《葵花宝典》；欲练神功，挥刀自宫</div>-->
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i class="anticon anticon-copyright"></i> 2018
      <a href="//www.51rongchang.com" target="_blank">荣昌</a>出品
    </global-footer>
  </div>
</div>
