<page-header [title]="'角色管理'">
    <ng-template #action>
        <ng-container *ngIf="selectedRows.length > 0">
          <button nz-button class="ml-sm">批量操作</button>
          <nz-dropdown [nzPlacement]="'bottomLeft'" class="ml-sm">
            <button nz-button nz-dropdown  class="ml-sm">
              更多操作 <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
              <li nz-menu-item (click)="batchDelete()">删除</li>
              <li nz-menu-item (click)="batchApproval()">批量审批</li>
            </ul>
          </nz-dropdown>
        </ng-container>

        <button nz-button (click)="add()" [nzType]="'default'" class="ml-sm" >
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" class="ml-sm">
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <!--<ng-container *ngIf="selectedRows.length > 0">-->
        <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
        <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
        <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
        <!--更多操作 <i class="anticon anticon-down"></i>-->
        <!--</button>-->
        <!--<ul nz-menu>-->
        <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
        <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
        <!--</ul>-->
        <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" ></byl-list-query-widget>

<nz-card [nzBordered]="false">
    <!--<form nz-form [nzLayout]="'inline'">-->
        <!--<div nz-row [nzGutter]="24">-->
            <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24" class="mb-md">-->
              <!--<nz-form-item [nzFlex]>-->
                <!--<nz-form-caption [nzFor]="'qName'">角色名称</nz-form-caption>-->
                    <!--<nz-form-control>-->
                        <!--<input nz-input [(ngModel)]="qData.name" name="qName" [nzSize]="'large'"-->
                               <!--placeHolder="请输入" id="qName">-->
                    <!--</nz-form-control>-->
              <!--</nz-form-item>-->
            <!--</div>-->
            <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24" class="mb-md">-->
              <!--<nz-form-item [nzFlex]>-->
                <!--<nz-form-caption [nzFor]="'qStatus'">角色状态</nz-form-caption>-->
                <!--<nz-form-control>-->
                    <!--<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"-->
                               <!--[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">-->
                        <!--<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"-->
                                   <!--[nzValue]="i.value"></nz-option>-->
                    <!--</nz-select>-->
                <!--</nz-form-control>-->
              <!--</nz-form-item>-->
            <!--</div>-->
          <!--<div *ngIf="expandQuery" nz-col [nzLg]="6"  [nzMd]="8" [nzSm]="12"  [nzXs]="24"  class="mb-md">-->
            <!--<nz-form-item [nzFlex]>-->
              <!--<nz-form-caption [nzFor]="'qModifyDateBegin'">最后修改起始日期</nz-form-caption>-->
              <!--<nz-form-control>-->
                <!--<nz-calendar [nzCard]  [(ngModel)]="qData.modifyDateBegin" name="qModifyDateBegin" id="qModifyDateBegin"-->
                <!--&gt;</nz-calendar>-->
              <!--</nz-form-control>-->
            <!--</nz-form-item>-->
          <!--</div>-->

          <!--<div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12"  [nzXs]="24"   class="mb-md">-->
            <!--<nz-form-item [nzFlex]>-->
              <!--<nz-form-caption [nzFor]="'qModifyDateEnd'">最后修改截止日期</nz-form-caption>-->
              <!--<nz-form-control >-->
                <!--<nz-calendar [nzDateFullCell] [(ngModel)]="qData.modifyDateEnd"-->
                             <!--name="qModifyDateEnd" id="qModifyDateEnd"></nz-calendar>-->
              <!--</nz-form-control>-->
            <!--</nz-form-item>-->
          <!--</div>-->


            <!--&lt;!&ndash;<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="expandQuery">&ndash;&gt;-->
          <!--<div nz-col [nzLg]="expandQuery ? 24 : 6"  [nzMd]="expandQuery ? 24 : 8"  [nzSm]="expandQuery ? 24 : 12"  [nzXs]="expandQuery ? 24 : 24" class="mb-md" [class.text-right]="true">-->
                <!--&lt;!&ndash;<button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--<button nz-button type="reset" (click)="resetQuery()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                <!--<a (click)="expandQuery =!expandQuery">-->
                    <!--{{expandQuery ? '收起' : '展开'}}-->
                    <!--<i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->

    <!--<div class="mb-md">-->
        <!--<nz-alert [nzType]="'info'" [nzMessage]="selectMsg" [nzShowIcon]="true">-->
            <!--<ng-template #selectMsg >-->
                <!--已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;-->
                <!--&lt;!&ndash;服务调用总计 <strong>{{totalCallNo}}</strong> 万&ndash;&gt;-->
                <!--&lt;!&ndash;<a *ngIf="totalCallNo > 0" (click)="clear()" class="ml-lg">清空</a>&ndash;&gt;-->
            <!--</ng-template>-->
        <!--</nz-alert>-->
    <!--</div>-->

    <!--<nz-table #nzTable [nzDataSource]="listData" [nzPageSize]="page.pageSize" [nzLoading]="loading" >-->
    <!--(nzDataChange)="dataChange($event)"-->
    <!--(nzPageIndexChange)="pageChange($event)">-->


    <nz-table #nzTable [nzData]="listData" [(nzPageSize)]="page.pageSize" [(nzPageIndex)]="page.page" [nzLoading]="loading"
              nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="total"
              (nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">
        <thead >
        <tr>
          <th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
               (nzCheckedChange)="checkAll($event)"></th>
            <th ><span>名称</span></th>
            <th ><span>描述</span></th>
            <th >
                <span>状态</span>
                <nz-dropdown [nzTrigger]="'click'">
                    <i class="anticon anticon-filter" nz-dropdown></i>
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let i of statusList">
                            <label nz-checkbox [(ngModel)]="i.value"><span>{{i.caption}}</span></label>
                        </li>
                    </ul>
                    <div nz-table-filter>
                        <span nz-table-filter-confirm (click)="search()">确定</span>
                        <span nz-table-filter-clear>重置</span>
                    </div>
                </nz-dropdown>
            </th>
            <th >
                <span>最后修改时间</span>
                <!--<nz-table-sort [(nzValue)]="sortMap.updatedAt"-->
                               <!--(nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>-->
            </th>
            <th ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
        <tr  *ngFor="let i of nzTable.data">
          <td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"
               (nzCheckedChange)="refreshStatus($event)"></td>
            <td >{{i.item.name}}</td>
            <td >{{i.item.remarks}}</td>
            <td >{{i.item.status | bylMasterDataStatus}}</td>
            <td >{{i.item.modifyAction.modifyDateTime | _date}}</td>
            <td >
                <!--<a [routerLink]="['/account/role/crud', i.id]" >修改</a>-->
                <span>
                    <a (click)="modifyEntity(i.item.id)">修改</a>
                    <ng-container *ngIf="i.item.status === normalRoleStatus">
                      <nz-divider nzType="vertical"></nz-divider>
                        <a (click)="lockRole(i.item.id)">锁定</a>
                    </ng-container>
                </span>
            </td>
        </tr>
        </tbody>

    </nz-table>

  <byl-select-info-formitem [selectedRows]="selectedRows"></byl-select-info-formitem>
</nz-card>
<!--<nz-modal [nzVisible]="modalVisible" [nzTitle]="'新建角色'" [nzConfirmLoading]="loading" [nzContent]="modalContent"-->
<!--(nzOnCancel)="modalVisible=false" (nzOnOk)="saveNew()">-->
<!--<ng-template #modalContent>-->
<!--<div nz-form-item class="d-flex">-->
<!--<div nz-form-caption><caption for="roleName" nz-form-item-required>名称</caption></div>-->
<!--<div nz-form-control class="flex-1" nzHasFeedback>-->
<!--<nz-input [(ngModel)]="newRole.name"  [nzSize]="'large'" [nzPlaceHolder]="'名称'" nzId="'roleName'"></nz-input>-->
<!--<div nz-form-explain *ngIf="(roleName.dirty || roleName.touch) && roleName.errors?.required">请输入角色名称</div>-->
<!--</div>-->
<!--</div>-->
<!--<div nz-form-item class="d-flex">-->
<!--<div nz-form-caption><caption for="remarks">备注</caption></div>-->
<!--<div nz-form-control class="flex-1">-->
<!--<nz-input [(ngModel)]="newRole.remarks" [nzSize]="'large'" [nzPlaceHolder]="'请输入备注'" nzId="'remarks'"></nz-input>-->
<!--</div>-->
<!--</div>-->
<!--</ng-template>-->
<!--</nz-modal>-->
