<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form nz-form [formGroup]="form"  role="form">

  <byl-input-formitem [controlName]="'username'" [labelCaption]="'代码'"
                      [hostForm]="form" [controlPath]="'username'" [isRequired]="'true'"
                      [placeHolder]="'请输入代码'"></byl-input-formitem>

  <byl-radio-formitem [controlName]="'gender'" [labelCaption]="'性别'"
                      [hostForm]="form" [controlPath]="'gender'" [isRequired]="'true'"
                      [selectOptions]="genderOptions"></byl-radio-formitem>


<byl-date-formitem [controlName]="'issueDate'" [labelCaption]="'发证日期'"
                   [hostForm]="form" [controlPath]="'issueDate'" [isRequired]="'false'"
                   [placeHolder]="'请输入发证日期'"></byl-date-formitem>

  <byl-select-formitem [controlName]="'politicalStatus'" [labelCaption]="'政治面貌'"
                       [hostForm]="form" [controlPath]="'politicalStatus'" [isRequired]="'false'"
                       [placeHolder]="'请选择政治面貌'" [selectMode]="'default'"
                       selectOptions="politicalOptions" ></byl-select-formitem>

  <byl-input-number-formitem [controlName]="'reason'" [labelCaption]="'借款原因'"
                             [hostForm]="form" [controlPath]="'reason'" [isRequired]="'true'"
                             [max]="100000000" [min]="0" [precision]="1" [step]="1"></byl-input-number-formitem>


  <byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"
                      [hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"
                      [placeHolder]="'请输入备注'"></byl-input-formitem>

  <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

  <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
    <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
  </nz-tab>





<nz-form-item nz-row>
    <nz-form-label nz-col [nzSm]="4">
        <label for="billNo" nz-form-item-required>
                                    <span>
                                        单号
                                        <!--<nz-tooltip [nzTitle]="'What do you want other to call you'">-->
                                        <!--<i nz-tooltip class="anticon anticon-question-circle-o"></i>-->
                                        <!--</nz-tooltip>-->
                                    </span>
        </label>
    </nz-form-label>
    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="billNo">
        <nz-input formControlName="billNo" nzPlaceHolder="单号" ></nz-input>

        <ng-container *ngIf="billNo.dirty && billNo.touched">
            <p nz-form-explain *ngIf="billNo.errors?.required">必须输入单号</p>
            <!--<p nz-form-explain *ngIf="code.errors?.idCard">输入身份证号码不正确</p>-->
            <p nz-form-explain *ngIf="billNo.errors?.duplicate">输入的单号已经被使用</p>
            <p nz-form-explain *ngIf="billNo.errors?.other">验证出现异常：{{billNo.errors?.msg}}</p>
            <!--<p nz-form-explain *ngIf="idCard.errors?.minlength">最少为一个字符</p>-->
            <p nz-form-explain *ngIf="billNo.pending">验证中...</p>
        </ng-container>

    </div>
</nz-form-item>


<div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="4">
        <label for="managerCode" nz-form-item-required>
                                    <span>
                                        项目经理
                                        <!--<nz-tooltip [nzTitle]="'What do you want other to call you'">-->
                                        <!--<i nz-tooltip class="anticon anticon-question-circle-o"></i>-->
                                        <!--</nz-tooltip>-->
                                    </span>
        </label>
    </div>
    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="managerCode">

        <nz-input-group [nzSize]="'large'" nzCompact>
            <input formControlName="managerId"  type="hidden">
            <input nz-input formControlName="managerCode" nzPlaceHolder="代码" style="width: 30%;" >
            <ng-container *ngIf="managerCode.dirty && managerCode.touched">
                <p nz-form-explain *ngIf="managerCode.errors?.required">必须输入项目经理代码</p>
                <p nz-form-explain *ngIf="managerCode.errors?.other">验证出现异常：{{managerCode.errors?.msg}}</p>
                <p nz-form-explain *ngIf="managerCode.pending">验证中...</p>
            </ng-container>

            <input nz-input formControlName="managerName" style="width: 60%;" [nzDisabled]="true">

            <button nz-button [nzType]="'default'" [nzLoading]="loading"  (click)="searchManager($event)" style="width: 10%;" >
                <i class="anticon anticon-search"></i>
            </button>
        </nz-input-group>

    </div>
</div>

<div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="4">
        <label for="addressTree" nz-form-item-required>
                                    <span>
                                        地址
                                        <!--<nz-tooltip [nzTitle]="'What do you want other to call you'">-->
                                        <!--<i nz-tooltip class="anticon anticon-question-circle-o"></i>-->
                                        <!--</nz-tooltip>-->
                                    </span>
        </label>
    </div>
    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="addressTree">
        <nz-cascader
            formControlName = "addressTree"
            (nzLoad)="loadAddressTree($event)"
            [nzEnableCache] = "false"
            (nzSelect) = "selectAddressTree($event)" >
        </nz-cascader>
    </div>
</div>


<div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSm]="4">
        <label for="gender" nz-form-item-required>
                                    <span>
                                        性别
                                        <!--<nz-tooltip [nzTitle]="'What do you want other to call you'">-->
                                        <!--<i nz-tooltip class="anticon anticon-question-circle-o"></i>-->
                                        <!--</nz-tooltip>-->
                                    </span>
        </label>
    </div>
    <div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="gender">

        <nz-radio-group formControlName="gender" >
            <label nz-radio-button [nzValue]="1"><span>男</span></label>
            <label nz-radio-button [nzValue]="-1"><span>女</span></label>
            <label nz-radio-button [nzValue]="0"><span>未知</span></label>
        </nz-radio-group>
        <ng-container *ngIf="gender.dirty && gender.touched">
            <p nz-form-explain *ngIf="gender.errors?.required">必须选择性别</p>
        </ng-container>
    </div>
</div>



</body>
</html>
