<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--input template-->
<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24" class="mb-md">
    <div nz-form-item class="d-flex">
        <div nz-form-label><label for="qReason">借款原因</label></div>
        <div nz-form-control class="flex-1">
            <nz-input [(ngModel)]="qData.reason" name="'qReason'" [nzSize]="'large'" [nzPlaceHolder]="'请输入单号'"
                      nzId="'qReason'"></nz-input>
        </div>
    </div>
</div>

<!--select template-->
<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24" class="mb-md">
    <div nz-form-item class="d-flex">
        <div nz-form-label><label for="qStatus">角色状态</label></div>
        <div nz-form-control class="flex-1">
            <nz-select [(ngModel)]="q.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"
                       [nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">
                <nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"
                           [nzValue]="i.value"></nz-option>
            </nz-select>
        </div>
    </div>
</div>

<!--datepicker template-->
<div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24" class="mb-md">
    <div nz-form-item class="d-flex">
        <div nz-form-label><label for="qModifyDateBegin">最后修改起始日期</label></div>
        <div nz-form-control class="flex-1">
            <nz-datepicker [(ngModel)]="q.modifyDateBegin" name="'qModifyDateBegin" nzId="'qModifyDateBegin"
                           [nzSize]="'large'" [nzPlaceHolder]="'起始日期'" class="d-block"></nz-datepicker>
        </div>
    </div>
</div>



<div nz-col [nzLg]="expandQuery ? 24 : 6"  [nzMd]="expandQuery ? 24 : 8"  [nzSm]="expandQuery ? 24 : 16"  [nzXs]="expandQuery ? 24 : 24" class="mb-md" [class.text-right]="true">

    <button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>
    <a (click)="expandQuery =!expandQuery">
        {{expandQuery ? '收起' : '展开'}}
        <i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>
    </a>
</div>

<!--action list-->
<span>
    <a (click)="modifyEntity(i.item.id)">修改</a>
    <span nz-table-divider></span>
    <nz-dropdown>
        <a class="ant-dropdown-link" nz-dropdown>
            更多 <i class="anticon anticon-down"></i>
        </a>
        <ul nz-menu>
            <li nz-menu-item>
                <a (click)="lockRole(i.item.id)">锁定</a>
            </li>
            <!--<li nz-menu-item>-->
            <!--<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">2nd menu item</a>-->
            <!--</li>-->
            <!--<li nz-menu-item>-->
            <!--<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">3rd menu item</a>-->
            <!--</li>-->
        </ul>
    </nz-dropdown>
</span>
</body>
</html>
