<page-header [title]="'项目管理'" >
    <ng-template #action>
        <button nz-button (click)="add()" [nzType]="'default'" >
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" >
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <!--<ng-container *ngIf="selectedRows.length > 0">-->
        <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
        <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
        <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
        <!--更多操作 <i class="anticon anticon-down"></i>-->
        <!--</button>-->
        <!--<ul nz-menu>-->
        <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
        <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
        <!--</ul>-->
        <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<!--<nz-card [nzBordered]="false">-->
    <!--<form nz-form [nzLayout]="'inline'" role="form">-->
        <!--<div nz-row [nzGutter]="24">-->
            <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24"  class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="code">代码类似于</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-input [(ngModel)]="qData.code" name="code" nzId = "code" [nzSize]="'large'" [nzPlaceHolder]="'请输入'"-->
                                  <!--&gt;</nz-input>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="name">名称类似于</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-input [(ngModel)]="qData.name" name="name" nzId = "name" [nzSize]="'large'" [nzPlaceHolder]="'请输入'"-->
                                  <!--&gt;</nz-input>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div nz-form-control class="flex-1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzValue]="i.value"></nz-option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->


            <!--<div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24"  class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="modifyDateBegin">最后修改起始日期</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-datepicker [(ngModel)]="qData.modifyDateBegin" name="modifyDateBegin" nzId = "modifyDateBegin"-->
                                       <!--[nzSize]="'large'"  class="d-block"></nz-datepicker>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24"  class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="modifyDateEnd">最后修改截止日期</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-datepicker [(ngModel)]="qData.modifyDateEnd" name="modifyDateEnd" nzId = "modifyDateEnd"-->
                                       <!--[nzSize]="'large'" class="d-block"></nz-datepicker>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="16" [nzXs]="24" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="status">项目状态</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-select [(ngModel)]="qData.status" name="status" nzId = "status" [nzPlaceHolder]="'请选择'"-->
                                   <!--[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">-->
                            <!--<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"-->
                                       <!--[nzValue]="i.value"></nz-option>-->
                        <!--</nz-select>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="expandQuery">&ndash;&gt;-->
            <!--<div nz-col  [nzLg]="expandQuery ? 24 : 6"  [nzMd]="expandQuery ? 24 : 8"  [nzSm]="expandQuery ? 24 : 16"  [nzXs]="expandQuery ? 24 : 24"  class="mb-md" [class.text-right]="true">-->
                <!--&lt;!&ndash;<button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--<button nz-button type="reset" (click)="resetQuery()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                <!--<a (click)="expandQuery =!expandQuery">-->
                    <!--{{expandQuery ? '收起' : '展开'}}-->
                    <!--<i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</nz-card>-->

<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" ></byl-list-query-widget>

<!--数据显示-->
<byl-list-form-table-item [listData]="listData"  [total]="total" [loading]="loading"
                          [tableDefine]="tableDefine"
                          (pageChange)="pageChange($event)" (entityAction)="entityAction($event)"
                          (selectedChange)="selectedChange($event)"

></byl-list-form-table-item>


