<page-header [title]="'个体信息维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab [nzTitle]="'基本信息'">
          <sf  #sf [button]="null"
               [schema]="emptyFormSchema"
               [formData]="businessData"
               mode="edit"
               (formError)="error($event)">
            <button type="submit" nz-button [disabled]="!sf.valid" (click)="submitForm()">提交</button>
            <button (click)="reset()"  type="button" nz-button>重置</button>

          </sf>
          <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

          <!--<p>formdata:{{sfForm.value | json}}</p>-->
          <!--<p>businessData:{{businessData | json}}</p>-->


             <!--<form nz-form [formGroup]="form"  role="form">-->
               <!--<byl-input-formitem [controlName]="'idCard'" [labelCaption]="'身份证号码'"-->
                                   <!--[hostForm]="form" [controlPath]="'idCard'" [isRequired]="'true'"-->
                                   <!--[placeHolder]="'请输入身份证号码'"></byl-input-formitem>-->

               <!--<byl-input-formitem [controlName]="'name'" [labelCaption]="'姓名'"-->
                                   <!--[hostForm]="form" [controlPath]="'name'" [isRequired]="'true'"-->
                                   <!--[placeHolder]="'请输入姓名'"></byl-input-formitem>-->

               <!--<byl-radio-formitem [controlName]="'gender'" [labelCaption]="'性别'"-->
                                   <!--[hostForm]="form" [controlPath]="'gender'" [isRequired]="'true'"-->
                                   <!--[selectOptions]="genderOptions"></byl-radio-formitem>-->

               <!--<byl-select-formitem [controlName]="'nation'" [labelCaption]="'民族'"-->
                                    <!--[hostForm]="form" [controlPath]="'nation'" [isRequired]="'false'"-->
                                    <!--[placeHolder]="'请选择民族'" [selectMode]="'default'"-->
                                    <!--[selectOptions]="nationOptions" ></byl-select-formitem>-->

               <!--<byl-select-formitem [controlName]="'politicalStatus'" [labelCaption]="'政治面貌'"-->
                                    <!--[hostForm]="form" [controlPath]="'politicalStatus'" [isRequired]="'false'"-->
                                    <!--[placeHolder]="'请选择政治面貌'" [selectMode]="'default'"-->
                                    <!--[selectOptions]="politicalOptions" ></byl-select-formitem>-->

               <!--<byl-input-formitem [controlName]="'nativePlace'" [labelCaption]="'籍贯'"-->
                                   <!--[hostForm]="form" [controlPath]="'nativePlace'" [isRequired]="'false'"-->
                                   <!--[placeHolder]="'籍贯'"></byl-input-formitem>-->

                   <!--<byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"-->
                                       <!--[hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"-->
                                       <!--[placeHolder]="'请输入备注'"></byl-input-formitem>-->

                   <!--<byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>-->

                    <!--<nz-form-item nz-row class="mb0">-->

                        <!--<div nz-form-control nz-col [nzSpan]="12" [nzOffset]="4">-->
                            <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'"-->
                                    <!--[disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>-->
                            <!--<button nz-button (click)="resetButtonClick($event)">重置</button>-->


                        <!--</div>-->

                    <!--</nz-form-item>-->

                <!--</form>-->

        </nz-tab>

        <nz-tab [nzDisabled]="!sourceId" [nzTitle]="'地址'">
                <byl-person-address-list [setMasterId]="sourceId"></byl-person-address-list>
        </nz-tab>
        <nz-tab [nzDisabled]="!sourceId" [nzTitle]="'证件'">
                <byl-person-certificate-list [setMasterId]="sourceId"></byl-person-certificate-list>
        </nz-tab>

      <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
        <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
      </nz-tab>

    </nz-tabset>
    <!--<div nz-row >-->
    <!--<div  nz-col [nzSpan]="20" [nzOffset]="4">-->
    <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click) = "showButtonClick($event)">show</button>-->

    <!--</div>-->

    <!--</div>-->
</nz-card>

