<!--<page-header [title]="'可借款资源池管理'" >-->
    <!--<ng-template #action>-->
        <!--<button nz-button (click)="addPersonPool()" [nzType]="'default'" [nzSize]="'large'">-->
            <!--<i class="anticon anticon-plus"></i><span>新增个人</span>-->
        <!--</button>-->

        <!--<button nz-button (click)="addOrganizationPool()" [nzType]="'default'" [nzSize]="'large'">-->
            <!--<i class="anticon anticon-plus"></i><span>新增组织</span>-->
        <!--</button>-->

        <!--<button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">-->
            <!--<i class="anticon anticon-search"></i><span>查询</span>-->
        <!--</button>-->
        <!--&lt;!&ndash;<ng-container *ngIf="selectedRows.length > 0">&ndash;&gt;-->
        <!--&lt;!&ndash;<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<nz-dropdown [nzPlacement]="'bottomLeft'">&ndash;&gt;-->
        <!--&lt;!&ndash;<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">&ndash;&gt;-->
        <!--&lt;!&ndash;更多操作 <i class="anticon anticon-down"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</button>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul nz-menu>&ndash;&gt;-->
        <!--&lt;!&ndash;<li nz-menu-item (click)="batchDelete()">删除</li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li nz-menu-item (click)="batchApproval()">批量审批</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</nz-dropdown>&ndash;&gt;-->
        <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

    <!--</ng-template>-->
<!--</page-header>-->
<!--<nz-card [nzBordered]="false">-->
    <!--<form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">-->
        <!--<div nz-row [nzGutter]="24">-->
            <!--<div nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-label><label for="qType">类型</label></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-radio-group [(ngModel)]="qData.type"  name="qType" [nzSize]="'large'" nzId="'qType'" >-->
                            <!--<label nz-radio-button [nzValue]="1"><span>个体</span></label>-->
                            <!--<label nz-radio-button [nzValue]="2"><span>组织</span></label>-->
                        <!--</nz-radio-group>-->

                    <!--</div>-->

                    <!--&lt;!&ndash;<div nz-form-control class="flex-1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzValue]="i.value"></nz-option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-label><label for="qCode">代码类似于</label></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-input [(ngModel)]="qData.code" name="'qCode'" [nzSize]="'large'" [nzPlaceHolder]="'请输入'"-->
                                  <!--nzId="'qCode'"></nz-input>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div nz-form-control class="flex-1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzValue]="i.value"></nz-option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-label><label for="qName">姓名类似于</label></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-input [(ngModel)]="qData.name" name="'qName'" [nzSize]="'large'" [nzPlaceHolder]="'请输入'"-->
                                  <!--nzId="'qName'"></nz-input>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-label><label for="qModifyDateBegin">最后修改起始日期</label></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-datepicker [(ngModel)]="qData.modifyDateBegin" name="'qModifyDateBegin" nzId="'qModifyDateBegin"-->
                                       <!--[nzSize]="'large'" [nzPlaceHolder]="'起始日期'" class="d-block"></nz-datepicker>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-label><label for="qModifyDateEnd">最后修改截止日期</label></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-datepicker [(ngModel)]="qData.modifyDateEnd" name="qModifyDateEnd" nzId="qModifyDateEnd"-->
                                       <!--[nzSize]="'large'" [nzPlaceHolder]="'截止日期'" class="d-block"></nz-datepicker>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="expandQuery">&ndash;&gt;-->
            <!--<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="true">-->
                <!--&lt;!&ndash;<button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--<button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                <!--<a (click)="expandQuery =!expandQuery">-->
                    <!--{{expandQuery ? '收起' : '展开'}}-->
                    <!--<i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</nz-card>-->
<!--<nz-card [nzBordered]="false">-->
    <!--<nz-table #nzTable [nzAjaxData]="listData" [nzPageSize]="page.pageSize" [nzLoading]="loading"-->
              <!--nzShowSizeChanger [nzTotal]="total" [(nzPageIndex)]="page.page" nzShowTotal="true"-->
              <!--(nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">-->
        <!--<thead nz-thead>-->
        <!--<tr>-->
            <!--&lt;!&ndash;<th nz-th [nzCheckbox]="true">&ndash;&gt;-->
            <!--&lt;!&ndash;<label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"&ndash;&gt;-->
            <!--&lt;!&ndash;(ngModelChange)="checkAll($event)"></label>&ndash;&gt;-->
            <!--&lt;!&ndash;</th>&ndash;&gt;-->
            <!--<th nz-th><span>类型</span></th>-->
            <!--<th nz-th><span>代码</span></th>-->
            <!--<th nz-th><span>姓名</span></th>-->
            <!--<th nz-th>-->
                <!--<span>更新时间</span>-->
                <!--&lt;!&ndash;<nz-table-sort [(nzValue)]="sortMap.updatedAt"&ndash;&gt;-->
                <!--&lt;!&ndash;(nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>&ndash;&gt;-->
            <!--</th>-->

            <!--<th nz-th><span>操作</span></th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody nz-tbody>-->
        <!--<tr nz-tbody-tr *ngFor="let i of nzTable.data">-->
            <!--&lt;!&ndash;<td nz-td [nzCheckbox]="true">&ndash;&gt;-->
            <!--&lt;!&ndash;<label nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked"&ndash;&gt;-->
            <!--&lt;!&ndash;(ngModelChange)="refreshStatus($event)">&ndash;&gt;-->
            <!--&lt;!&ndash;</label>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--<td nz-td>{{i.item.type}}</td>-->

            <!--<td nz-td>{{i.item.poolCode}}</td>-->
            <!--<td nz-td>{{i.item.poolName}}</td>-->
            <!--<td nz-td>{{i.item.modifyAction.modifyDateTime | _date}}</td>-->
            <!--<td nz-td>-->
                <!--&lt;!&ndash;<a [routerLink]="['/account/role/crud', i.id]" >修改</a>&ndash;&gt;-->
                <!--<span>-->
                    <!--<a (click)="modifyEntity(i.item.id)">修改</a>-->
                    <!--&lt;!&ndash;<span nz-table-divider></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="ant-dropdown-link" nz-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;更多 <i class="anticon anticon-down"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul nz-menu>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li nz-menu-item>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a (click)="lockRole(i.item.id)">锁定</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li nz-menu-item>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">2nd menu item</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li nz-menu-item>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">3rd menu item</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-dropdown>&ndash;&gt;-->
                <!--</span>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</nz-table>-->

<!--</nz-card>-->
