<page-header [title]="'菜单定义管理'" *ngIf="functionMode === LIST_MODE" >
    <ng-template #action>

        <button nz-button (click)="search()" [nzType]="'primary'"
                [nzLoading]="loading" [disabled]="loading">
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>

        <!--<ng-container *ngIf="selectedRows.length > 0">-->


            <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->

            <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
                <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
                    <!--更多操作 <i class="anticon anticon-down"></i>-->
                <!--</button>-->
                <!--<ul nz-menu>-->
                    <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
                    <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
                <!--</ul>-->
            <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" [actionTemplateRef]="queryAction"
                       (searchConditionChange)="search()"
></byl-list-query-widget>
<ng-template #queryAction >
  <ng-container *ngIf="functionMode === SELECT_MODE">
    <button nz-button [disabled]="selectedRows.length == 0" (click) = "batchSelect($event)" [nzType]="'default'"  class="ml-sm">
      <i class="anticon anticon-plus"></i><span>添加</span>
    </button>
    <button nz-button  (click)="search()" [nzType]="'primary'" [nzLoading]="loading"  class="ml-sm">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>
  </ng-container>
</ng-template>

<nz-card [nzBordered]="false">
  <byl-list-form-table-item [listData]="listData"  [total]="total" [loading]="loading"
                            [tableDefine]="tableDefine"
                            (pageChange)="pageChange($event)" (entityAction)="entityAction($event)"
                            (selectedChange)="selectedChange($event)"

  ></byl-list-form-table-item>
</nz-card>
