<page-header [title]="'角色维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab nzTitle="基本信息">
          <sf  #sf [button]="null"
               [schema]="emptyFormSchema"
               [formData]="businessData"
               mode="edit"
               >
            <button type="submit" nz-button [disabled]="!sf.valid"  (click)="submitForm()"
                    *ngIf="showSaveButton()" [nzLoading]="loading">保存</button>
            <button (click)="reset()"  type="button" nz-button *ngIf="showSaveButton()">重置</button>
            <button nz-button [disabled]="!sf.valid" (click)="submitEntity()"
                    *ngIf="showSubmitButton()" [nzLoading]="submitLoading">提交</button>
            <button nz-button (click)="lockEntity()" *ngIf="showLockButton()" [nzLoading]="lockLoading">锁定</button>
            <button nz-button (click)="unlockEntity()" *ngIf="showUnlockButton()" [nzLoading]="unlockLoading">解锁</button>
            <button nz-button (click)="confirmEntity()" [disabled]="!sf.valid" *ngIf="showConfirmButton()" [nzLoading]="confirmLoading">确认</button>
            <button nz-button (click)="unconfirmEntity()" *ngIf="showUnconfirmButton()" [nzLoading]="unconfirmLoading">取消确认</button>
            <button nz-button (click)="cancelEntity()" *ngIf="showCancelButton()" [nzLoading]="cancelLoading">作废</button>
          </sf>
          <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

          <!--<p>formdata:{{sfForm.value | json}}</p>-->
          <!--<p>businessData:{{businessData | json}}</p>-->

            <!--<ng-template #nzTabHeading>-->
            <!--</ng-template>-->
            <!--<span>-->
                <!--<form nz-form [formGroup]="form" role ="form">-->
                    <!--<byl-input-formitem [controlName]="'name'" [labelCaption]="'名称'"-->
                                        <!--[hostForm]="form" [controlPath]="'name'" [isRequired]="'true'" [placeHolder]="'请输入名称'"></byl-input-formitem>-->

                    <!--<byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"-->
                                        <!--[hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"-->
                                        <!--[placeHolder]="'请输入备注说明'"></byl-input-formitem>-->

                    <!--&lt;!&ndash;<nz-form-item >&ndash;&gt;-->
                        <!--&lt;!&ndash;<nz-form-caption [nzSm]="6" [nzXs]="24" nzRequired nzFor="name" >名称</nz-form-caption>&ndash;&gt;-->
                        <!--&lt;!&ndash;<nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="name">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input nz-input formControlName="name" placeHolder="最少为2个字符" id="name" >&ndash;&gt;-->

                            <!--&lt;!&ndash;<nz-form-explain *ngIf="name.dirty && name.errors">&ndash;&gt;-->
                                <!--&lt;!&ndash;<ng-container *ngIf="name.hasError('required')">必须输入角色名称</ng-container>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ng-container *ngIf="name.hasError('duplicate')">输入的角色名称已经被使用</ng-container>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ng-container *ngIf="name.hasError('other')">验证出现异常：{{name.hasError("other")}}</ng-container>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ng-container *ngIf="name.pending">验证中...</ng-container>&ndash;&gt;-->
                            <!--&lt;!&ndash;</nz-form-explain>&ndash;&gt;-->
                        <!--&lt;!&ndash;</nz-form-control>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-form-item>&ndash;&gt;-->

                    <!--<byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>-->


                    <!--<div nz-form-item nz-row class="mb0">-->

                        <!--<div nz-form-control nz-col [nzSpan]="12" [nzOffset]="4">-->
                            <!--<button nz-button [nzType]="'primary'" [disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>-->
                            <!--<button nz-button (click)="resetButtonClick($event)">重置</button>-->


                        <!--</div>-->

                    <!--</div>-->

                <!--</form>-->
            <!--</span>-->
        </nz-tab>
        <nz-tab nzTitle="权限" [nzDisabled]="!sourceId" (nzClick)="permissionTabClick()">
            <byl-permission-item-list #permissionList [masterId]="sourceId"
                                      [ReadOnly]="showBrowseButton()"
                                      [permissionRelationService]="roleService"
         >

            </byl-permission-item-list>
        </nz-tab>
      <nz-tab [nzDisabled]="!sourceId" nzTitle="菜单权限" (nzClick)="menuLinkTabClick()">
        <!--<ng-template #nzTabHeading>权限</ng-template>-->
        <!--<byl-menu-link-item-list #menuLinkList [masterId]="sourceId"-->
                                 <!--[ReadOnly]="showBrowseButton()"-->
                                 <!--[menuRelationService]="roleService"-->
        <!--&gt;-->
        <byl-menu-link-item-list #menuLinkList [masterId]="sourceId"
                                 [ReadOnly]="showBrowseButton()"
                                 [menuRelationService]="roleService"
        >
        </byl-menu-link-item-list>
      </nz-tab>

        <nz-tab nzTitle="用户" [nzDisabled]="!sourceId">
            <byl-account-item-list [masterId]="sourceId"
                                   [ReadOnly]="showBrowseButton()"
                                   [accountRelationService]="roleService"
            ></byl-account-item-list>

        </nz-tab>

        <byl-entity-logger [title]="'日志'" [entityId]="sourceId"></byl-entity-logger>


    </nz-tabset>

</nz-card>
