<page-header [title]="'角色维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab nzTitle="基本信息">
            <!--<ng-template #nzTabHeading>-->
            <!--</ng-template>-->
            <span>
                <form nz-form [formGroup]="form" role ="form">
                    <byl-input-formitem [controlName]="'name'" [labelCaption]="'名称'"
                                        [hostForm]="form" [controlPath]="'name'" [isRequired]="'true'" [placeHolder]="'请输入名称'"></byl-input-formitem>

                    <byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"
                                        [hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"
                                        [placeHolder]="'请输入备注说明'"></byl-input-formitem>

                    <!--<nz-form-item >-->
                        <!--<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name" >名称</nz-form-label>-->
                        <!--<nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback [nzValidateStatus]="name">-->
                            <!--<input nz-input formControlName="name" placeHolder="最少为2个字符" id="name" >-->

                            <!--<nz-form-explain *ngIf="name.dirty && name.errors">-->
                                <!--<ng-container *ngIf="name.hasError('required')">必须输入角色名称</ng-container>-->
                                <!--<ng-container *ngIf="name.hasError('duplicate')">输入的角色名称已经被使用</ng-container>-->
                                <!--<ng-container *ngIf="name.hasError('other')">验证出现异常：{{name.hasError("other")}}</ng-container>-->
                                <!--<ng-container *ngIf="name.pending">验证中...</ng-container>-->
                            <!--</nz-form-explain>-->
                        <!--</nz-form-control>-->
                    <!--</nz-form-item>-->
                    <!--<nz-form-item>-->
                        <!--<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="remarks" >备注</nz-form-label>-->
                        <!--<nz-form-control nzHasFeedback>-->
                          <!--<input nz-input formControlName="remarks" nzSize="large" placeholder="备注" id="remarks" >-->

                        <!--</nz-form-control>-->
                    <!--</nz-form-item>-->
                    <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>
                    <!--<nz-form-item nz-row>-->
                       <!--<ng-container *ngIf="errMsg && errMsg.length > 0">-->
                            <!--<nz-alert [nzType]="'error'" nzCloseable [nzMessage]="'保存数据错误'"-->
                                      <!--[nzDescription]="errMsg"-->
                            <!--&gt;</nz-alert>-->
                        <!--</ng-container>-->
                    <!--</nz-form-item>-->

                    <div nz-form-item nz-row class="mb0">

                        <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="4">
                            <button nz-button [nzType]="'primary'" [disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>
                            <button nz-button (click)="resetButtonClick($event)">重置</button>


                        </div>

                    </div>

                </form>
            </span>
        </nz-tab>
        <nz-tab nzTitle="权限" [nzDisabled]="!sourceId">
            <byl-permission-item-list [masterId]="sourceId"
                                      [findAvailablePoolsService]="roleService"
                                      [savePermissionRelationService]="roleService"
                                      [findEntityPermissionService] = "roleService"  >

            </byl-permission-item-list>
        </nz-tab>

        <nz-tab nzTitle="用户" [nzDisabled]="!sourceId">
            <byl-account-item-list [masterId]="sourceId"
                                   [findAvailablePoolsService]="roleService"
                                   [findEntityAccountService]="roleService"
                                   [saveAccountRelationService]="roleService"
            ></byl-account-item-list>

        </nz-tab>

        <byl-entity-logger [title]="'日志'" [entityId]="sourceId"></byl-entity-logger>
        <!--<nz-tab (nzClick)="entityLoggerClick()">-->
            <!--<ng-template #nzTabHeading>日志</ng-template>-->
            <!--<div nz-row>-->
                <!--<span>-->
                    <!--<nz-timeline >-->
                        <!--<ng-template ngFor let-item [ngForOf]="entityLogList" let-i="index">-->
                            <!--<nz-timeline-item  [nzColor]="'green'">{{item.action}}-{{item.modifyAction.modifyDateTime | _date }}  </nz-timeline-item>-->
                        <!--</ng-template>-->

                    <!--</nz-timeline>-->
                <!--</span>-->
            <!--</div>-->
            <!--<div nz-row>-->
                <!--<ng-container *ngIf="entityLogErrorMsg && entityLogErrorMsg.length > 0">-->
                    <!--<nz-alert [nzType]="'error'" nzCloseable [nzMessage]="'获取日志错误'"-->
                              <!--[nzDescription]="entityLogErrorMsg"-->
                    <!--&gt;</nz-alert>-->
                <!--</ng-container>-->

            <!--</div>-->
            <!--<div nz-row >-->
                <!--<button nz-button (click)="$event.stopPropagation(); fetchEntityLogList()">重新查询</button>-->
            <!--</div>-->
        <!--</nz-tab>-->

    </nz-tabset>
    <!--<div nz-row >-->
        <!--<div  nz-col [nzSpan]="20" [nzOffset]="4">-->
            <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click) = "showButtonClick($event)">show</button>-->

        <!--</div>-->

    <!--</div>-->
</nz-card>
