<page-header [title]="'考勤登记单维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab [nzTitle]="'单据头'">
            <span>
              <sf  #sf [button]="null"
                   [schema]="emptyFormSchema"
                   [ui]="formUiSchema"
                   [formData]="businessData"
                   mode="edit"
                   (formError)="error($event)">
                  <button type="submit" nz-button [disabled]="!sf.valid"  (click)="submitForm()"
                          *ngIf="showSaveButton()" [nzLoading]="loading">保存</button>
                  <button (click)="reset()"  type="button" nz-button *ngIf="showSaveButton()">重置</button>
                  <button nz-button [disabled]="!sf.valid" (click)="submitEntity()"
                          *ngIf="showSubmitButton()" [nzLoading]="submitLoading">提交</button>
                  <button nz-button (click)="checkEntity()" [disabled]="!sf.valid" *ngIf="showCheckButton()" [nzLoading]="checkLoading">审核</button>
                  <button nz-button (click)="cancelEntity()" *ngIf="showCancelButton()" [nzLoading]="cancelLoading">作废</button>


              </sf>

            </span>
            <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>
          <p>formdata:{{sfForm.value | json}}</p>
          <p>businessData:{{businessData | json}}</p>

        </nz-tab>

      <nz-tab [nzDisabled]="!sourceId" [nzTitle]="'单据明细'">
        <byl-workload-detail-list [setMasterId]="businessData.id"
                                        [setModifyDateTime]="businessData.modifyAction.modifyDateTime"
                                        [setOutsourcerWidget]="businessData.outsourcerWidget"
                                        (changeModifyDateTime)="getModifyDateTimeChange($event)">

        </byl-workload-detail-list>

      </nz-tab>

        <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
          <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
        </nz-tab>

    </nz-tabset>

</nz-card>

