<page-header [title]="crudEntityName +'维护'"  *ngIf="processType.length > 0 ">
  <ng-template #action>
    <button nz-button (click)="returnToListForm()" type="button">返回汇总界面</button>

  </ng-template>
</page-header>
<nz-card [nzBordered]="false">
      <span>
        <sf  #sf [button]="null"
             [schema]="emptyFormSchema"
             [ui]="formUiSchema"
             [formData]="businessData"
             mode="edit"
             (formError)="error($event)">
          <button type="submit" nz-button [disabled]="!sf.valid" (click)="submitEntity()">保存</button>
          <button (click)="reset()"  type="button" nz-button>重置</button>

        </sf>

      </span>
  <!--<p>formdata:{{sfForm.value | json}}</p>-->
  <!--<p>businessData:{{businessData | json}}</p>-->

      <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>


</nz-card>

