<page-header [title]="'个体的地址信息维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">

  <form nz-form [formGroup]="form"  role="form">
    <nz-form-item >
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="type" >地址类型
        <!--<nz-tooltip [nzTitle]="'比如家庭地址、单位地址、现居住地等'">-->
          <!--<i nz-tooltip class="anticon anticon-question-circle-o"></i>-->
        <!--</nz-tooltip>-->
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
        <!--<nz-input formControlName="type" nzPlaceHolder="地址类型" ></nz-input>-->
        <!--nzTags-->
        <nz-select
          formControlName="type"
          [nzPlaceHolder]="'请选择或输入地址类型'"
          [nzNotFoundContent]="'无法找到'"
          nzShowSearch [nzMode]="'multiple'" id="type">
          <nz-option
            *ngFor="let option of typeOptions"
            [nzLabel]="option.label"
            [nzValue]="option.value">
          </nz-option>
        </nz-select>

        <nz-form-explain *ngIf="type.dirty && type.errors">
          <ng-container *ngIf="type.hasError('required')">必须输入地址类型</ng-container>
          <ng-container *ngIf="type.pending">验证中...</ng-container>
        </nz-form-explain>

      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="addressTree" >
              地址
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24"  nzHasFeedback>
        <nz-cascader
          formControlName = "addressTree"
          (nzLoad)="loadAddressTree($event)"
          (nzSelect) = "selectAddressTree($event)" id="addressTree">

        </nz-cascader>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="detailAddress" >
              详细地址
              <!--<nz-tooltip [nzTitle]="'What do you want other to call you'">-->
              <!--<i nz-tooltip class="anticon anticon-question-circle-o"></i>-->
              <!--</nz-tooltip>-->
      </nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24"  nzHasFeedback [nzValidateStatus]="detailAddress">
        <input nz-input formControlName="detailAddress" placeholder="详细地址" id="detailAddress" >

      </nz-form-control>
    </nz-form-item>

    <byl-input-formitem [controlName]="'zipCode'" [labelCaption]="'邮政编码'"
                        [hostForm]="form" [controlPath]="'zipCode'" [isRequired]="'false'"
                        [placeHolder]="'请输入邮政编码'"></byl-input-formitem>

    <!--<nz-form-item nz-row>-->
      <!--<nz-form-caption [nzSm]="6" [nzXs]="24"  nzFor="zipCode" >-->
              <!--邮政编码-->
              <!--&lt;!&ndash;<nz-tooltip [nzTitle]="'What do you want other to call you'">&ndash;&gt;-->
              <!--&lt;!&ndash;<i nz-tooltip class="anticon anticon-question-circle-o"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;</nz-tooltip>&ndash;&gt;-->
      <!--</nz-form-caption>-->
      <!--<nz-form-control [nzSm]="6" [nzXs]="24"  nzHasFeedback [nzValidateStatus]="zipCode">-->
        <!--<input nz-input formControlName="zipCode" placeholder="邮政编码" id="zipCode">-->

      <!--</nz-form-control>-->
    <!--</nz-form-item>-->

    <byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"
                        [hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"
                        [placeHolder]="'请输入备注'"></byl-input-formitem>

    <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

    <!--<nz-form-item>-->
      <!--<nz-form-caption [nzSm]="6" [nzXs]="24" nzRequired nzFor="remarks" >备注</nz-form-caption>-->
      <!--<nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>-->
        <!--<input nz-input formControlName="remarks" nzSize="large" placeholder="备注" id="remarks" >-->

      <!--</nz-form-control>-->
    <!--</nz-form-item>-->
    <!--<nz-form-item nz-row>-->
      <!--<ng-container *ngIf="errMsg && errMsg.length > 0">-->
        <!--<nz-alert [nzType]="'error'" nzCloseable [nzMessage]="'保存数据错误'"-->
                  <!--[nzDescription]="errMsg"-->
        <!--&gt;</nz-alert>-->
      <!--</ng-container>-->
    <!--</nz-form-item>-->

    <div nz-form-item nz-row class="mb0">

      <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="4">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'"
            [disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>
        <button nz-button (click)="formResetButtonClick($event)">重置</button>


      </div>

    </div>

  </form>

</nz-card>
