<page-header>
  <ng-template #breadcrumb>
    <nz-breadcrumb>
      <nz-breadcrumb-item><a [routerLink]="['/']">首页</a></nz-breadcrumb-item>
      <nz-breadcrumb-item><a [routerLink]="['/']">Dashboard</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>工作台</nz-breadcrumb-item>
    </nz-breadcrumb>
  </ng-template>
  <ng-template #content>
    <div class="content">
      <div class="avatar"><nz-avatar nzSrc="https://gw.alipayobjects.com/zos/rmsportal/lctvVCLfRpYCkYxAsiVQ.png"></nz-avatar></div>
      <div class="desc">
        <div class="desc-title">{{getUserCaption()}}</div>
        <div>{{getUserDescription()}}</div>
      </div>
    </div>
  </ng-template>
  <!--<ng-template #extra>-->
    <!--<div nz-row>-->
      <!--<div nz-col nzXs="24" nzSm="8">-->
        <!--<p class="text-grey">项目数</p>-->
        <!--<p class="text-lg">56</p>-->
      <!--</div>-->
      <!--<div nz-col nzXs="24" nzSm="8">-->
        <!--<p class="text-grey">借款数</p>-->
        <!--<p class="text-lg">¥ 568.08</p>-->
      <!--</div>-->
      <!--<div nz-col nzXs="24" nzSm="8">-->
        <!--<p class="text-grey">考勤</p>-->
        <!--<p class="text-lg">10天/20天</p>-->
      <!--</div>-->

    <!--</div>-->
  <!--</ng-template>-->
</page-header>

<div nz-row [nzGutter]="24" class="pt-lg">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
    <g2-card [title]="'借款'" total="¥ 126,560" contentHeight="44px" [action]="action1" [footer]="footer1">
      <ng-template #action1>
        <nz-tooltip [nzTitle]="'指标说明'">
          <i nz-tooltip class="anticon anticon-info-circle-o"></i>
        </nz-tooltip>
      </ng-template>
      <trend flag="up" style="display:block; margin-top:2px;">周同比
        <span class="pl-sm">12%</span>
      </trend>
      <trend flag="down">日环比
        <span class="pl-sm">11%</span>
      </trend>
      <ng-template #footer1>
        <p class="text-truncate mb0">日均销售额
          <span class="ml-sm">￥12,423</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
    <g2-card [title]="'考勤'" total="8,848" contentHeight="46px" [action]="action2" [footer]="footer2">
      <ng-template #action2>
        <nz-tooltip [nzTitle]="'指标说明'">
          <i nz-tooltip class="anticon anticon-info-circle-o"></i>
        </nz-tooltip>
      </ng-template>
      <g2-mini-area color="#975FE4" height="46" [data]="data.visitData"></g2-mini-area>
      <ng-template #footer2>
        <p class="text-truncate mb0">日访问量
          <span class="ml-sm">1,234</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="8">
    <g2-card [title]="'项目'" total="6,560" contentHeight="46px" [action]="action3" [footer]="footer3">
      <ng-template #action3>
        <nz-tooltip [nzTitle]="'指标说明'">
          <i nz-tooltip class="anticon anticon-info-circle-o"></i>
        </nz-tooltip>
      </ng-template>
      <g2-mini-bar height="46" [data]="data.visitData"></g2-mini-bar>
      <ng-template #footer3>
        <p class="text-truncate mb0">转化率
          <span class="ml-sm">60%</span>
        </p>
      </ng-template>
    </g2-card>
  </div>

</div>

<!--<div nz-row>-->
  <!--<div #d3 style="border: solid 1px black; width: 100%;height:500px">-->
    <!--<svg width="100%" height="1200" (click)="d3Clicked($event)">-->
      <!--<text x="10" y="20">Click anywhere</text>-->
    <!--</svg>-->
  <!--</div>-->

<!--</div>-->

<!--<div nz-row>-->
  <!--<div #helpFlow style="border: solid 1px black; width: 100%;height:500px"></div>-->

<!--</div>-->

<div nz-row [nzGutter]="24">
  <!--<div nz-col nzXs="24" nzSm="24" nzMd="16">-->
    <!--<nz-card nzTitle="进行中的项目" [nzBordered]="false" [nzLoading]="loading" class="ant-card__body-nopadding mb-lg project-list">-->
      <!--<ng-template #extra>-->
        <!--<a (click)="msg.success('to')">全部项目</a>-->
      <!--</ng-template>-->
      <!--<div *ngFor="let item of notice" nz-card-grid class="project-grid">-->
        <!--<nz-card [nzBordered]="false" class="ant-card__body-nopadding mb0">-->
          <!--<nz-card-meta [nzTitle]="noticeTitle" [nzDescription]="item.description">-->
            <!--<ng-template #noticeTitle>-->
              <!--<div class="card-title">-->
                <!--<nz-avatar [nzSrc]="item.logo" [nzSize]="'small'"></nz-avatar>-->
                <!--<a (click)="msg.info('to' + item.href)">{{item.title}}</a>-->
              <!--</div>-->
            <!--</ng-template>-->
          <!--</nz-card-meta>-->
          <!--<div class="project-item">-->
            <!--<a (click)="msg.info('show user: ' + item.member)">{{item.member}}</a>-->
            <!--<span *ngIf="item.updatedAt" class="datetime" title="{{item.updatedAt}}">-->
              <!--{{item.updatedAt | _date: 'fn' }}-->
            <!--</span>-->
          <!--</div>-->
        <!--</nz-card>-->
      <!--</div>-->
    <!--</nz-card>-->
    <!--<nz-card nzTitle="动态" [nzBordered]="false" [nzLoading]="loading" class="ant-card__body-nopadding mb-lg active-card">-->
      <!--<nz-list nzSize="large" class="activities">-->
        <!--<nz-list-item *ngFor="let item of activities">-->
          <!--<nz-list-item-meta-->
            <!--[nzAvatar]="item.user.avatar"-->
            <!--[nzTitle]="activeTitle"-->
            <!--[nzDescription]="activeDescription">-->
            <!--<ng-template #activeTitle>-->
              <!--<a (click)="msg.success(item.user.name)" class="username">{{item.user.name}}</a>-->
              <!--&nbsp;-->
              <!--<span class="event" [innerHTML]="item.template"></span>-->
            <!--</ng-template>-->
            <!--<ng-template #activeDescription>-->
              <!--<span class="datetime" title="{{item.updatedAt}}">{{item.updatedAt | _date: 'fn'}}</span>-->
            <!--</ng-template>-->
          <!--</nz-list-item-meta>-->
        <!--</nz-list-item>-->
      <!--</nz-list>-->
    <!--</nz-card>-->
  <!--</div>-->
  <!--<div nz-col nzXs="24" nzSm="24" nzMd="8">-->
    <!--<nz-card nzTitle="快速开始 / 便捷导航" [nzBordered]="false" class="ant-card__body-nopadding mb-lg">-->
      <!--<div class="links">-->
        <!--<a *ngFor="let item of links" (click)="msg.success(item.title)">{{item.title}}</a>-->
        <!--<button nz-button (click)="links.push({title: 'new titel', href: 'href'})" [nzType]="'dashed'" [nzSize]="'small'">-->
          <!--<i class="anticon anticon-plus"></i><span>添加</span>-->
        <!--</button>-->
      <!--</div>-->
    <!--</nz-card>-->
    <!--<nz-card nzTitle="XX 指数" [nzBordered]="false" [nzLoading]="loading" class="mb-lg">-->
      <!--<g2-radar [data]="radarData" [height]="343" [hasLegend]="true"></g2-radar>-->
    <!--</nz-card>-->
    <!--<nz-card nzTitle="团队" [nzBordered]="false" [nzBodyStyle]="{'padding-top.px': 12, 'padding-bottom.px': 12 }" class="mb-lg">-->
      <!--<div class="members">-->
        <!--<div nz-row [nzGutter]="48">-->
          <!--<div nz-col [nzSpan]="12" *ngFor="let i of members">-->
            <!--<a (click)="msg.success(i.title)">-->
              <!--<nz-avatar [nzSrc]="i.logo" [nzSize]="'small'"></nz-avatar>-->
              <!--<span class="member">{{i.title}}</span>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</nz-card>-->
  <!--</div>-->
</div>
