<div >

  <div nz-row nzType="flex" nzJustify="center"  class="byl-detail-top-button">
    <button nz-button (click)="addRelation()" [nzType]="'dashed'"  class="mb-sm" *ngIf="!readOnly">
      <i class="anticon anticon-plus"></i><span>添加</span>
    </button>

    <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading] = "searhing" class="mb-sm">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>

    <button nz-button (click)="batchDelete()" [nzType]="'danger'" [nzLoading]="deleting"
            class="ant-btn__block mb-sm"  *ngIf="selectedRows.length > 0" >
      <i class="anticon anticon-delete"></i><span>批量删除</span>
    </button>


  </div>

    <byl-select-info-formitem [selectedRows]="selectedRows"></byl-select-info-formitem>
    <!--<div class="mb-md" *ngIf="selectedRows.length > 0">-->
        <!--<nz-alert [nzType]="'info'" [nzShowIcon]="'true'">-->
            <!--<span alert-body>-->
                <!--已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;-->
                <!--&lt;!&ndash;服务调用总计 <strong>{{totalCallNo}}</strong> 万&ndash;&gt;-->
                <!--<a *ngIf="selectedRows.length > 0" (click)="batchDelete()" class="ml-lg">批量删除</a>-->

            <!--</span>-->

        <!--</nz-alert>-->
    <!--</div>-->
    <nz-table #nzTable [nzData]="listData"  [nzLoading]="loading"
              [nzShowPagination]= "false" [nzFrontPagination]="'false'">
        <thead >
        <tr>
          <th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
               (nzCheckedChange)="checkAll($event)" *ngIf="!readOnly"></th>
            <th ><span>包</span></th>
            <th ><span>模块</span></th>
            <th ><span>功能</span></th>
            <th >
                <span>备注</span>
            </th>

            <th ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
        <tr  *ngFor="let i of nzTable.data">
          <td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"
               (nzCheckedChange)="refreshStatus($event)" *ngIf="!readOnly"></td>
            <td >{{i.item.packageName}}</td>
            <td >{{i.item.moduleName}}</td>
            <td >{{i.item.action}}</td>
            <td >{{i.item.remarks }}</td>
            <td *ngIf="!readOnly" >
                <span>
                <a (click)="delete(i.item.id)">删除</a>
                </span>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
