<page-header [title]="'项目经理资源池管理'" *ngIf="functionMode === LIST_MODE"  [action]="action" >
    <ng-template #action>
        <button nz-button (click)="addManagerPool()" [nzType]="'default'" >
            <i class="anticon anticon-plus"></i><span>添加员工</span>
        </button>

        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" >
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <!--<ng-container *ngIf="selectedRows.length > 0">-->
        <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
        <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
        <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
        <!--更多操作 <i class="anticon anticon-down"></i>-->
        <!--</button>-->
        <!--<ul nz-menu>-->
        <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
        <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
        <!--</ul>-->
        <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" [actionTemplateRef]="queryAction"></byl-list-query-widget>
<ng-template #queryAction >
  <ng-container *ngIf="functionMode === SELECT_MODE">
    <button nz-button  (click)="search()" [nzType]="'primary'" [nzLoading]="loading" >
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>
  </ng-container>
</ng-template>

<!--数据显示-->
<byl-list-form-table-item [listData]="listData"  [total]="total" [loading]="loading"
                          [tableDefine]="tableDefine"
                          (pageChange)="pageChange($event)" (entityAction)="entityAction($event)"
                          (selectedChange)="selectedChange($event)"

></byl-list-form-table-item>

<!--<nz-card [nzBordered]="false">-->
    <!--<nz-table #nzTable [nzData]="listData" [(nzPageSize)]="page.pageSize" [(nzPageIndex)]="page.page"-->
              <!--[nzLoading]="loading"-->
              <!--nzShowSizeChanger [nzTotal]="total"  [nzFrontPagination]="false"-->
              <!--(nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">-->
        <!--<thead >-->
        <!--<tr>-->
            <!--&lt;!&ndash;<th  [nzCheckbox]="true">&ndash;&gt;-->
            <!--&lt;!&ndash;<caption nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"&ndash;&gt;-->
            <!--&lt;!&ndash;(ngModelChange)="checkAll($event)"></caption>&ndash;&gt;-->
            <!--&lt;!&ndash;</th>&ndash;&gt;-->
            <!--<th ><span>代码</span></th>-->
            <!--<th ><span>姓名</span></th>-->
            <!--<th >-->
                <!--<span>更新时间</span>-->
                <!--&lt;!&ndash;<nz-table-sort [(nzValue)]="sortMap.updatedAt"&ndash;&gt;-->
                <!--&lt;!&ndash;(nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>&ndash;&gt;-->
            <!--</th>-->

            <!--<th ><span>操作</span></th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody >-->
        <!--<tr  *ngFor="let i of nzTable.data">-->
            <!--&lt;!&ndash;<td  [nzCheckbox]="true">&ndash;&gt;-->
            <!--&lt;!&ndash;<caption nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked"&ndash;&gt;-->
            <!--&lt;!&ndash;(ngModelChange)="refreshStatus($event)">&ndash;&gt;-->
            <!--&lt;!&ndash;</caption>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--<td >{{i.item.poolCode}}</td>-->
            <!--<td >{{i.item.poolName}}</td>-->
            <!--<td >{{i.item.modifyAction.modifyDateTime | _date}}</td>-->
            <!--<td >-->
                <!--&lt;!&ndash;<a [routerLink]="['/account/role/crud', i.id]" >修改</a>&ndash;&gt;-->
                <!--<span>-->
                    <!--<a (click)="modifyEntity(i.item.id)">删除</a>-->
                    <!--&lt;!&ndash;<span nz-table-divider></span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="ant-dropdown-link" nz-dropdown>&ndash;&gt;-->
                    <!--&lt;!&ndash;更多 <i class="anticon anticon-down"></i>&ndash;&gt;-->
                    <!--&lt;!&ndash;</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul nz-menu>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li nz-menu-item>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a (click)="lockRole(i.item.id)">锁定</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li nz-menu-item>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">2nd menu item</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<li nz-menu-item>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">3rd menu item</a>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;</li>&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-dropdown>&ndash;&gt;-->
                <!--</span>-->
                <!--<ng-container *ngIf="functionMode === SELECT_MODE">-->
                    <!--<nz-divider nzType="vertical"></nz-divider>-->
                    <!--<span>-->
                        <!--<a (click)="selectedEntity(i.item)">选中</a>-->
                    <!--</span>-->
                <!--</ng-container>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</nz-table>-->

<!--</nz-card>-->
