<page-header [title]="'项目经理资源池管理'" *ngIf="functionMode === LIST_MODE"  >
    <ng-template #action>
        <button nz-button (click)="addManagerPool()" [nzType]="'default'" >
            <i class="anticon anticon-plus"></i><span>新增</span>
        </button>

        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" >
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <!--<ng-container *ngIf="selectedRows.length > 0">-->
        <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
        <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
        <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
        <!--更多操作 <i class="anticon anticon-down"></i>-->
        <!--</button>-->
        <!--<ul nz-menu>-->
        <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
        <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
        <!--</ul>-->
        <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" [actionTemplateRef]="queryAction"></byl-list-query-widget>
<ng-template #queryAction >
  <ng-container *ngIf="functionMode === SELECT_MODE">
    <button nz-button  (click)="search()" [nzType]="'primary'" [nzLoading]="loading" >
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>
  </ng-container>
</ng-template>

<!--<nz-card [nzBordered]="false">-->
    <!--<form nz-form [nzLayout]="'inline'">-->
        <!--<div nz-row [nzGutter]="24">-->
            <!--<div nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="qCode">代码类似于</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-input [(ngModel)]="qData.qCode" name="'qCode'" [nzSize]="'large'" [nzPlaceHolder]="'请输入'"-->
                                  <!--nzId="'qCode'"></nz-input>-->
                    <!--</div>-->

                    <!--&lt;!&ndash;<div nz-form-control class="flex-1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzValue]="i.value"></nz-option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="qName">姓名类似于</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-input [(ngModel)]="qData.name" name="'qName'" [nzSize]="'large'" [nzPlaceHolder]="'请输入'"-->
                                  <!--nzId="'qName'"></nz-input>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="qModifyDateBegin">最后修改起始日期</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-datepicker [(ngModel)]="qData.modifyDateBegin" name="'qModifyDateBegin" nzId="'qModifyDateBegin"-->
                                       <!--[nzSize]="'large'" [nzPlaceHolder]="'起始日期'" class="d-block"></nz-datepicker>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzSpan]="8" class="mb-md">-->
                <!--<div nz-form-item class="d-flex">-->
                    <!--<div nz-form-caption><caption for="qModifyDateEnd">最后修改截止日期</caption></div>-->
                    <!--<div nz-form-control class="flex-1">-->
                        <!--<nz-datepicker [(ngModel)]="qData.modifyDateEnd" name="qModifyDateEnd" nzId="qModifyDateEnd"-->
                                       <!--[nzSize]="'large'" [nzPlaceHolder]="'截止日期'" class="d-block"></nz-datepicker>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="expandQuery">&ndash;&gt;-->
            <!--<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="true">-->
                <!--&lt;!&ndash;<button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--<ng-container *ngIf="functionMode === 'select'">-->
                    <!--<button nz-button  (click)="search()" [nzType]="'default'" [nzLoading]="loading" [nzSize]="'large'">-->
                        <!--<i class="anticon anticon-search"></i><span>查询</span>-->
                    <!--</button>-->

                <!--</ng-container>-->

                <!--<button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                <!--<a (click)="expandQuery =!expandQuery">-->
                    <!--{{expandQuery ? '收起' : '展开'}}-->
                    <!--<i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</nz-card>-->
<nz-card [nzBordered]="false">
    <nz-table #nzTable [nzData]="listData" [(nzPageSize)]="page.pageSize" [(nzPageIndex)]="page.page"
              [nzLoading]="loading"
              nzShowSizeChanger [nzTotal]="total"  [nzFrontPagination]="false"
              (nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">
        <thead >
        <tr>
            <!--<th  [nzCheckbox]="true">-->
            <!--<caption nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"-->
            <!--(ngModelChange)="checkAll($event)"></caption>-->
            <!--</th>-->
            <th ><span>代码</span></th>
            <th ><span>姓名</span></th>
            <th >
                <span>更新时间</span>
                <!--<nz-table-sort [(nzValue)]="sortMap.updatedAt"-->
                <!--(nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>-->
            </th>

            <th ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
        <tr  *ngFor="let i of nzTable.data">
            <!--<td  [nzCheckbox]="true">-->
            <!--<caption nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked"-->
            <!--(ngModelChange)="refreshStatus($event)">-->
            <!--</caption>-->
            <!--</td>-->
            <td >{{i.item.poolCode}}</td>
            <td >{{i.item.poolName}}</td>
            <td >{{i.item.modifyAction.modifyDateTime | _date}}</td>
            <td >
                <!--<a [routerLink]="['/account/role/crud', i.id]" >修改</a>-->
                <span>
                    <a (click)="modifyEntity(i.item.id)">删除</a>
                    <!--<span nz-table-divider></span>-->
                    <!--<nz-dropdown>-->
                    <!--<a class="ant-dropdown-link" nz-dropdown>-->
                    <!--更多 <i class="anticon anticon-down"></i>-->
                    <!--</a>-->
                    <!--<ul nz-menu>-->
                    <!--<li nz-menu-item>-->
                    <!--<a (click)="lockRole(i.item.id)">锁定</a>-->
                    <!--</li>-->
                    <!--&lt;!&ndash;<li nz-menu-item>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">2nd menu item</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li nz-menu-item>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a target="_blank" rel="noopener noreferrer" href="http://www.alipay.com/">3rd menu item</a>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--</ul>-->
                    <!--</nz-dropdown>-->
                </span>
                <ng-container *ngIf="functionMode === SELECT_MODE">
                    <nz-divider nzType="vertical"></nz-divider>
                    <span>
                        <a (click)="selectedEntity(i.item)">选中</a>
                    </span>
                </ng-container>
            </td>
        </tr>
        </tbody>
    </nz-table>

</nz-card>
