<div class="wrapper">
    <div class="router-progress-bar" *ngIf="isFetching"></div>
    <byl-mobile-app-header class="header"></byl-mobile-app-header>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <!--<global-footer [links]="links">-->
        <!--<ng-template #copyright>-->
            <!--Copyright <nz-icon nzType="copyright"></nz-icon> 2017 <a href="//github.com/cipchk" target="_blank">卡色</a>出品-->
        <!--</ng-template>-->
    <!--</global-footer>-->
</div>
