<!--<div [formGroup] = "addressFormGroup">-->

    <!--<div nz-form-item nz-row>-->
        <!--<div nz-form-caption nz-col [nzSm]="4">-->
            <!--<caption for="addressTree" nz-form-item-required>-->
                    <!--<span>-->
                        <!--地址-->
                        <!--&lt;!&ndash;<nz-tooltip [nzTitle]="'What do you want other to call you'">&ndash;&gt;-->
                        <!--&lt;!&ndash;<i nz-tooltip class="anticon anticon-question-circle-o"></i>&ndash;&gt;-->
                        <!--&lt;!&ndash;</nz-tooltip>&ndash;&gt;-->
                    <!--</span>-->
            <!--</caption>-->
        <!--</div>-->
        <!--<div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="addressTree">-->
            <!--<nz-cascader-->
                <!--formControlName = "addressTree"-->
                <!--(nzLoad)="loadAddressTree($event)"-->
                <!--[nzEnableCache] = "false"-->
                <!--(nzSelect) = "selectAddressTree($event)" >-->
            <!--</nz-cascader>-->
        <!--</div>-->
    <!--</div>-->


    <!--<div nz-form-item nz-row>-->
        <!--<div nz-form-caption nz-col [nzSm]="4">-->
            <!--<caption for="detailAddress" nz-form-item-required>-->
                    <!--<span>-->
                        <!--详细地址-->
                    <!--</span>-->
            <!--</caption>-->
        <!--</div>-->
        <!--<div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="detailAddress">-->
            <!--<nz-input formControlName="detailAddress" nzPlaceHolder="详细地址"  ></nz-input>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div nz-form-item nz-row>-->
        <!--<div nz-form-caption nz-col [nzSm]="4">-->
            <!--<caption for="zipCode" >-->
                    <!--<span>-->
                        <!--邮政编码-->
                    <!--</span>-->
            <!--</caption>-->
        <!--</div>-->
        <!--<div nz-form-control nz-col [nzSm]="20" nzHasFeedback [nzValidateStatus]="zipCode">-->
            <!--<nz-input formControlName="zipCode" nzPlaceHolder="邮政编码" ></nz-input>-->

        <!--</div>-->
    <!--</div>-->

<!--</div>-->
