<page-header [title]="'部门维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab [nzTitle]="'基本信息'">
            <span>
                <form nz-form [formGroup]="form" role="form">
                    <nz-form-item nz-row>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="parent" >上级部门</nz-form-label>

                        <nz-form-control [nzSm]="6" [nzXs]="24" nzHasFeedback [nzValidateStatus]="parent">
                                <!--(nzSearchChange)="searchDepartment($event)"-->
                            <nz-select
                                nzAllowClear
                                [formControlName] = "'parent'"
                                [nzPlaceHolder]="'输入代码或名称'"
                                (nzSearchChange)="searchDepartment($event)"
                                [nzNotFoundContent]="'无法找到'"
                                nzShowSearch
                                >
                              <ng-container *ngFor="let option of searchedDepartments">
                                <nz-option *ngIf="!isLoading"
                                  [nzLabel]="option.name +'(' + option.code +')'"
                                  [nzValue]="option.id">
                                  </nz-option>
                              </ng-container>
                              <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                                <i class="anticon anticon-loading anticon-spin loading-icon"></i> 查询中...
                              </nz-option>
                              <!--<nz-option-->
                                  <!--*ngFor="let option of searchedDepartments"-->
                                  <!--[nzLabel]="option.name +'(' + option.code +')'"-->
                                  <!--[nzValue]="option.id">-->
                              <!--</nz-option>-->
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <byl-input-formitem [controlName]="'code'" [labelCaption]="'代码'"
                                        [hostForm]="form" [controlPath]="'code'" [isRequired]="'true'"
                                        [placeHolder]="'请输入代码，最少为1个字符'"></byl-input-formitem>
                    <!--<nz-form-item nz-row>-->
                        <!--<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code" >代码</nz-form-label>-->

                        <!--<nz-form-control [nzSm]="6" [nzXs]="24" nzHasFeedback [nzValidateStatus]="code">-->
                            <!--<input nz-input formControlName="code" nzPlaceHolder="最少为1个字符" nzId="'code'">-->

                            <!--<nz-form-explain *ngIf="code.dirty && code.errors">-->
                              <!--<ng-container *ngIf="code.hasError('required')">必须输入组织代码</ng-container>-->
                              <!--<ng-container *ngIf="code.hasError('duplicate')">输入的组织代码已经被使用</ng-container>-->
                              <!--<ng-container *ngIf="code.hasError('other')">验证出现异常：{{code.hasError('other')}}</ng-container>-->
                              <!--<ng-container *ngIf="code.hasError('minlength')">最少为一个字符</ng-container>-->
                              <!--<ng-container *ngIf="code.pending">验证中...</ng-container>-->
                            <!--</nz-form-explain>-->
                        <!--</nz-form-control>-->
                    <!--</nz-form-item>-->
                    <byl-input-formitem [controlName]="'name'" [labelCaption]="'名称'"
                                        [hostForm]="form" [controlPath]="'name'" [isRequired]="'true'"
                                        [placeHolder]="'请输入代码，最少为2个字符'"></byl-input-formitem>

                    <!--<nz-form-item nz-row>-->
                        <!--<nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name" >名称</nz-form-label>-->

                        <!--<nz-form-control [nzSm]="6" [nzXs]="24" nzHasFeedback [nzValidateStatus]="name">-->
                            <!--<input nz-input formControlName="name" nzPlaceHolder="最少为2个字符" nzId="'name'">-->

                            <!--<nz-form-explain *ngIf="name.dirty && name.errors">-->
                              <!--<ng-container *ngIf="name.hasError('required')">必须输入名称</ng-container>-->
                              <!--<ng-container *ngIf="name.hasError('other')">验证出现异常：{{name.hasError('other')}}</ng-container>-->
                              <!--<ng-container *ngIf="name.hasError('minlength')">最少为两个字符</ng-container>-->
                              <!--<ng-container *ngIf="name.pending">验证中...</ng-container>-->
                            <!--</nz-form-explain>-->
                        <!--</nz-form-control>-->
                    <!--</nz-form-item>-->
                    <byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"
                                        [hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"
                                        [placeHolder]="'请输入备注'"></byl-input-formitem>

                    <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>


                    <nz-form-item nz-row class="mb0">

                        <nz-form-control [nzSpan]="14" [nzOffset]="6">
                            <button nz-button [nzType]="'primary'" [nzSize]="'large'"
                                    [disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>

                            <button nz-button (click)="resetButtonClick($event)">重置</button>

                        </nz-form-control>

                    </nz-form-item>


                </form>
            </span>
        </nz-tab>
        <nz-tab [nzDisabled]="!sourceId" [nzTitle]="'用户'">
            <byl-account-item-list [masterId]="sourceId"
                                   [findAvailablePoolsService]="departmentService"
                                   [findEntityAccountService]="departmentService"
                                   [saveAccountRelationService]="departmentService">
            </byl-account-item-list>
        </nz-tab>
        <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
          <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
        </nz-tab>


    </nz-tabset>

</nz-card>
