<page-header [title]="'个体的证件信息维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">

    <form nz-form [formGroup]="form" role="form">

      <byl-select-formitem [controlName]="'type'" [labelCaption]="'证件类型'"
                          [hostForm]="form" [controlPath]="'type'" [isRequired]="'true'"
                          [placeHolder]="'请选择证件类型'" [selectMode]="'multiple'"
                          selectOptions="typeOptions" ></byl-select-formitem>

        <!--<nz-form-item nz-row>-->
            <!--<nz-form-caption nz-col [nzSm]="4">证件类型-->
                <!--&lt;!&ndash;<caption for="type" nz-form-item-required>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span>&ndash;&gt;-->
                            <!--&lt;!&ndash;证件类型&ndash;&gt;-->
                            <!--&lt;!&ndash;<nz-tooltip [nzTitle]="'比如身份证、驾驶证、护照等'">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i nz-tooltip class="anticon anticon-question-circle-o"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;</nz-tooltip>&ndash;&gt;-->
                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                <!--&lt;!&ndash;</caption>&ndash;&gt;-->
            <!--</nz-form-caption>-->
            <!--<nz-form-control nz-col [nzSm]="20" nzHasFeedback  >-->
                <!--&lt;!&ndash;<nz-input formControlName="type" nzPlaceHolder="地址类型" ></nz-input>&ndash;&gt;-->
                <!--&lt;!&ndash;nzTags&ndash;&gt;-->
                <!--<nz-select-->
                    <!--formControlName="type"-->
                    <!--[nzPlaceHolder]="'请选择或输入证件类型'"-->
                    <!--[nzNotFoundContent]="'无法找到'"-->
                    <!--[nzMode]="multiple"-->
                    <!--nzShowSearch  id="type">-->
                    <!--<nz-option-->
                        <!--*ngFor="let option of typeOptions"-->
                        <!--[nzLabel]="option.caption"-->
                        <!--[nzValue]="option.value">-->
                    <!--</nz-option>-->
                <!--</nz-select>-->

                <!--<nz-form-explain *ngIf="type.dirty && type.errors">-->
                    <!--<ng-container *ngIf="type.hasError('required')">必须输入证件类型</ng-container>-->
                    <!--<ng-container  *ngIf="type.hasError('other')">验证出现异常：{{type.hasError('other')}}</ng-container>-->
                    <!--&lt;!&ndash;<p nz-form-explain *ngIf="idCard.errors?.minlength">最少为一个字符</p>&ndash;&gt;-->
                    <!--<ng-container  *ngIf="type.pending">验证中...</ng-container>-->
                <!--</nz-form-explain>-->

            <!--</nz-form-control>-->
        <!--</nz-form-item>-->

      <byl-input-formitem [controlName]="'code'" [labelCaption]="'证件号码'"
                          [hostForm]="form" [controlPath]="'code'" [isRequired]="'true'"
                          [placeHolder]="'请输入证件号码'"></byl-input-formitem>
        <!--<div nz-form-item nz-row>-->
            <!--<div nz-form-caption nz-col [nzSm]="4">-->
                <!--<caption for="code" nz-form-item-required>-->
                        <!--<span>-->
                            <!--代码-->
                            <!--&lt;!&ndash;<nz-tooltip [nzTitle]="'What do you want other to call you'">&ndash;&gt;-->
                            <!--&lt;!&ndash;<i nz-tooltip class="anticon anticon-question-circle-o"></i>&ndash;&gt;-->
                            <!--&lt;!&ndash;</nz-tooltip>&ndash;&gt;-->
                        <!--</span>-->
                <!--</caption>-->
            <!--</div>-->
            <!--<div nz-form-control nz-col [nzSm]="20" nzHasFeedback>-->
                <!--<nz-input formControlName="code" nzPlaceHolder="证件号码" id = "code"></nz-input>-->
                <!--<ng-container *ngIf="code.dirty && code.touched">-->
                    <!--<p nz-form-explain *ngIf="code.errors?.required">必须输入证件号码</p>-->
                    <!--<p nz-form-explain *ngIf="code.errors?.other">验证出现异常：{{type.errors?.msg}}</p>-->
                    <!--&lt;!&ndash;<p nz-form-explain *ngIf="idCard.errors?.minlength">最少为一个字符</p>&ndash;&gt;-->
                    <!--<p nz-form-explain *ngIf="code.pending">验证中...</p>-->
                <!--</ng-container>-->
            <!--</div>-->
        <!--</div>-->

        <byl-date-formitem [controlName]="'issueDate'" [labelCaption]="'发证日期'"
                           [hostForm]="form" [controlPath]="'issueDate'" [isRequired]="'false'"
                           [placeHolder]="'请输入发证日期'"></byl-date-formitem>
        <!--<nz-form-item nz-row>-->
            <!--<nz-form-caption nz-col [nzSm]="4" nzFor="issueDate">发证日期-->
            <!--</nz-form-caption>-->
            <!--<nz-form-control nz-col [nzSm]="20" nzHasFeedback [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">-->
                <!--<nz-calendar nzCard  formControlName="issueDate" nzPlaceHolder="发证日期" ></nz-calendar>-->

            <!--</nz-form-control>-->
        <!--</nz-form-item>-->
      <byl-date-formitem [controlName]="'effectiveDate'" [labelCaption]="'到效日期'"
                         [hostForm]="form" [controlPath]="'effectiveDate'" [isRequired]="'true'"
                         [placeHolder]="'请输入到效日期'"></byl-date-formitem>

        <!--<nz-form-item nz-row>-->
            <!--<nz-form-caption nz-col [nzSm]="4" [nzFor]="'effectiveDate'" [nzRequired]="'true'">-->
                            <!--到效日期-->
            <!--</nz-form-caption>-->
            <!--<nz-form-control nz-col [nzSm]="20" nzHasFeedback  [ngStyle]="{ width: '300px', border: '1px solid #d9d9d9', borderRadius: '4px' }">-->
                <!--<nz-calendar nzCard formControlName="effectiveDate" nzPlaceHolder="到效日期" ></nz-calendar>-->

            <!--</nz-form-control>-->
        <!--</nz-form-item>-->

        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4" [nzFor]="'frontPhotoUrl'">
                            正面照
            </nz-form-label>
            <nz-form-control nz-col [nzSm]="20" >
                <!--formControlName="frontPhotoFileName"-->
                <!--[nzAction]="uploadUrl"-->
                <!--(nzChange)="handleChange($event, frontPhoto)"-->
                <!--[nzShowUploadList]="false"-->
                <!--[nzBeforeUpload]="beforeFrontPhotoUpload()"                -->
                <nz-upload class="avatar-uploader"
                           [nzAction]="configService.UPLOAD_FILE_URL"
                           [nzFileType] = "'image/png,image/jpeg,image/gif,image/bmp'"
                           [nzShowUploadList]="false"
                           (nzChange)="handleFrontPhotoChange($event)"
                           >
                    <i *ngIf="!frontPhoto" class="anticon anticon-plus avatar-uploader-trigger"></i>
                    <div *ngIf="frontPhoto" class="avatar">
                        <img [src]="frontPhoto" class="avatar-img">
                    </div>

                </nz-upload>

            </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row>
            <nz-form-label nz-col [nzSm]="4" [nzFor]="'backPhotoUrl'">
                            背面照
            </nz-form-label>
            <nz-form-control nz-col [nzSm]="20"  >
                <!--formControlName="backPhotoFileName"-->
                <!--[nzAction]="uploadUrl"-->
                <!--(nzChange)="handleChange($event, backPhoto)"-->
                <!--[nzBeforeUpload]="beforeBackPhotoUpload()"-->
                <nz-upload class="avatar-uploader"
                           [nzAction]="configService.UPLOAD_FILE_URL"
                           [nzFileType] = "'image/png,image/jpeg,image/gif,image/bmp'"
                           [nzShowUploadList]="false"
                           (nzChange)="handleBackPhotoChange($event)"
                           >
                    <i *ngIf="!backPhoto" class="anticon anticon-plus avatar-uploader-trigger"></i>
                    <div *ngIf="backPhoto" class="avatar">
                        <img  [src]="backPhoto"  class="avatar-img">
                    </div>

                </nz-upload>

            </nz-form-control>
        </nz-form-item>

      <byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"
                          [hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"
                          [placeHolder]="'请输入备注'"></byl-input-formitem>

      <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

        <div nz-form-item nz-row class="mb0">

            <div nz-form-control nz-col [nzSpan]="12" [nzOffset]="4">
                <button nz-button [nzType]="'primary'" [nzSize]="'large'"
                        [disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>
                <button nz-button (click)="formResetButtonClick($event)">重置</button>


            </div>

        </div>

    </form>

</nz-card>
