<page-header [title]="crudEntityName +'维护'"  *ngIf="processType.length > 0 " [action]="action">
  <ng-template #action>
    <button nz-button (click)="returnToListForm()" type="button">返回汇总界面</button>

  </ng-template>
</page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab nzTitle="基本信息">
          <sf  #sf [button]="null"
               [schema]="emptyFormSchema"
               [formData]="businessData"
               mode="edit"
               (formError)="error($event)">
            <button type="submit" nz-button [disabled]="!sf.valid"  (click)="submitForm()"
                    *ngIf="showSaveButton()" [nzLoading]="loading">保存</button>
            <button (click)="reset()"  type="button" nz-button *ngIf="showSaveButton()">重置</button>
            <button nz-button [disabled]="!sf.valid" (click)="submitEntity()"
                    *ngIf="showSubmitButton()" [nzLoading]="submitLoading">提交</button>
            <button nz-button (click)="lockEntity()" *ngIf="showLockButton()" [nzLoading]="lockLoading">锁定</button>
            <button nz-button (click)="unlockEntity()" *ngIf="showUnlockButton()" [nzLoading]="unlockLoading">解锁</button>
            <button nz-button (click)="confirmEntity()" [disabled]="!sf.valid" *ngIf="showConfirmButton()" [nzLoading]="confirmLoading">确认</button>
            <button nz-button (click)="unconfirmEntity()" *ngIf="showUnconfirmButton()" [nzLoading]="unconfirmLoading">取消确认</button>
            <button nz-button (click)="cancelEntity()" *ngIf="showCancelButton()" [nzLoading]="cancelLoading">作废</button>

            <button nz-button (click)="runEntity()" *ngIf="showRunButton()" [nzLoading]="runningLoading">启动</button>
            <button nz-button (click)="achieveEntity()" *ngIf="showAchieveButton()" [nzLoading]="achieveLoading">完成</button>

          </sf>
          <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

        </nz-tab>

      <nz-tab [nzDisabled]="!sourceId" nzTitle="可查看账户" (nzClick)="projectAuthClick()">
        <byl-project-auth-item-project-list #projectAuth
                                            [masterProject]="businessData"
                                            [masterId]="sourceId"
                                            [ReadOnly]="showBrowseButton()"
                                            [accountRelationService]="projectAuthService"
        >

        </byl-project-auth-item-project-list>
      </nz-tab>

      <nz-tab [nzDisabled]="!sourceId" nzTitle="日志" (nzClick)="logTabClick()">
        <byl-entity-logger #logList [entityId]="sourceId"></byl-entity-logger>
      </nz-tab>

    </nz-tabset>
</nz-card>

