<page-header [title]="'项目信息维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab nzTitle="基本信息">
          <sf  #sf [button]="null"
               [schema]="emptyFormSchema"
               [formData]="businessData"
               mode="edit"
               (formError)="error($event)">
            <button type="submit" nz-button [disabled]="!sf.valid" (click)="submitForm()">保存</button>
            <button (click)="reset()"  type="button" nz-button>重置</button>

          </sf>
          <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

          <p>formdata:{{sfForm.value | json}}</p>
          <p>businessData:{{businessData | json}}</p>
                <!--<form nz-form [formGroup]="form"  role="form">-->

                  <!--<byl-input-formitem [controlName]="'code'" [labelCaption]="'代码'"-->
                                      <!--[hostForm]="form" [controlPath]="'code'" [isRequired]="'true'"-->
                                      <!--[placeHolder]="'请输入项目代码'"></byl-input-formitem>-->

                  <!--<byl-input-formitem [controlName]="'name'" [labelCaption]="'名称'"-->
                                      <!--[hostForm]="form" [controlPath]="'name'" [isRequired]="'true'"-->
                                      <!--[placeHolder]="'请输入项目名称'"></byl-input-formitem>-->


                  <!--<byl-fetch-project-manager-formitem #projectManager-->
                                      <!--[hostForm]="form" [isRequired]="'true'"-->
                                      <!--[placeHolder]="'请输入项目代码'"></byl-fetch-project-manager-formitem>-->


                  <!--<byl-input-formitem [controlName]="'zipCode'" [labelCaption]="'邮政编码'"-->
                                      <!--[hostForm]="form" [controlPath]="'zipCode'" [isRequired]="'false'"-->
                                      <!--[placeHolder]="'请输入邮政编码'"></byl-input-formitem>-->

                  <!--<byl-date-formitem [controlName]="'planBeginDate'" [labelCaption]="'计划开始日期'"-->
                                     <!--[hostForm]="form" [controlPath]="'planBeginDate'" [isRequired]="'false'"-->
                                     <!--[placeHolder]="'请输入计划开始日期'"></byl-date-formitem>-->

                  <!--<byl-date-formitem [controlName]="'planEndDate'" [labelCaption]="'计划结束日期'"-->
                                     <!--[hostForm]="form" [controlPath]="'planEndDate'" [isRequired]="'false'"-->
                                     <!--[placeHolder]="'请输入计划结束日期'"></byl-date-formitem>-->



                  <!--<byl-input-formitem [controlName]="'remarks'" [labelCaption]="'备注'"-->
                                      <!--[hostForm]="form" [controlPath]="'remarks'" [isRequired]="'false'"-->
                                      <!--[placeHolder]="'请输入备注'"></byl-input-formitem>-->

                  <!--<byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>-->


                    <!--<nz-form-item nz-row class="mb0">-->
                        <!--<div nz-form-control nz-col [nzSpan]="12" [nzOffset]="4">-->
                            <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'"-->
                                    <!--[disabled]="form.invalid || (!form.dirty)" (click)="submitForm()">保存</button>-->
                            <!--<button nz-button (click)="resetButtonClick($event)">重置</button>-->
                        <!--</div>-->
                    <!--</nz-form-item>-->

                <!--</form>-->
        </nz-tab>


      <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
        <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
      </nz-tab>

    </nz-tabset>
</nz-card>

