<div >
    <button nz-button (click)="addAccount()" [nzType]="'dashed'" [nzSize]="'large'" class="ant-btn__block mb-sm">
        <i class="anticon anticon-plus"></i><span>添加</span>
    </button>

    <button nz-button (click)="search()" [nzType]="'primary'" [nzSize]="'large'" class="ant-btn__block mb-sm">
        <i class="anticon anticon-search"></i><span>查询</span>
    </button>
    <div class="mb-md">
        <nz-alert [nzType]="'info'" [nzShowIcon]="true">
            <span alert-body>
                已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;
                <!--服务调用总计 <strong>{{totalCallNo}}</strong> 万-->
                <a *ngIf="selectedRows.length > 0" (click)="batchDelete()" class="ml-lg">批量删除</a>

            </span>

        </nz-alert>
    </div>
    <nz-table #nzTable [nzAjaxData]="listData"  [nzLoading]="loading"
              [nzIsPagination] = "false">
        <thead nz-thead>
        <tr>
            <th nz-th [nzCheckbox]="true">
                <label nz-checkbox [(ngModel)]="allChecked" [nzIndeterminate]="indeterminate"
                       (ngModelChange)="checkAll($event)"></label>
            </th>
            <th nz-th><span>代码</span></th>
            <th nz-th><span>姓名</span></th>
            <th nz-th><span>昵称</span></th>
            <th nz-th>
                <span>邮箱</span>
            </th>
            <th nz-th>
                <span>手机</span>
            </th>
            <th nz-th>
                <span>状态</span>
            </th>
            <th nz-th>
                <span>备注</span>
            </th>

            <th nz-th><span>操作</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let i of nzTable.data">
            <td nz-td [nzCheckbox]="true">
                <label nz-checkbox [nzDisabled]="i.disabled" [(ngModel)]="i.checked"
                       (ngModelChange)="refreshStatus($event)">
                </label>
            </td>
            <td nz-td>{{i.item.username}}</td>
            <td nz-td>{{i.item.fullName}}</td>
            <td nz-td>{{i.item.nickname}}</td>
            <td nz-td>{{i.item.email}}</td>
            <td nz-td>{{i.item.phone}}</td>
            <td nz-td>{{i.item.status}}</td>
            <td nz-td>{{i.item.remarks }}</td>
            <td nz-td>
                <span>
                <a (click)="delete(i.item.id)">删除</a>
                </span>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
