<div >
    <button nz-button (click)="addRelation()" [nzType]="'dashed'" class="ant-btn__block mb-sm" *ngIf="!ReadOnly">
        <i class="anticon anticon-plus"></i><span>添加</span>
    </button>

    <button nz-button (click)="search()" [nzType]="'primary'" class="ant-btn__block mb-sm" [nzLoading] = "searhing">
        <i class="anticon anticon-search"></i><span>查询</span>
    </button>

  <button nz-button (click)="batchDelete()" [nzType]="'danger'" [nzLoading]="deleting"
          class="ant-btn__block mb-sm"  *ngIf="selectedRows.length > 0">
    <i class="anticon anticon-delete"></i><span>批量删除</span>
  </button>

    <byl-select-info-formitem [selectedRows]="selectedRows"></byl-select-info-formitem>
    <!--<div class="mb-md">-->
        <!--<nz-alert [nzType]="'info'" [nzShowIcon]="true">-->
            <!--<span alert-body>-->
                <!--已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;-->
                <!--&lt;!&ndash;服务调用总计 <strong>{{totalCallNo}}</strong> 万&ndash;&gt;-->
                <!--<a *ngIf="selectedRows.length > 0" (click)="batchDelete()" class="ml-lg">批量删除</a>-->

            <!--</span>-->

        <!--</nz-alert>-->
    <!--</div>-->
    <nz-table #nzTable [nzData]="listData"  [nzLoading]="loading"
              [nzShowPagination]="false" [nzFrontPagination]="'false'">
        <thead >
        <tr>
          <th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
               (nzCheckedChange)="checkAll($event)" *ngIf="!ReadOnly"></th>
            <th ><span>代码</span></th>
            <th ><span>姓名</span></th>
            <th ><span>昵称</span></th>
            <th >
                <span>邮箱</span>
            </th>
            <th >
                <span>手机</span>
            </th>
            <th >
                <span>状态</span>
            </th>
            <th >
                <span>备注</span>
            </th>

            <th ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
        <tr  *ngFor="let i of nzTable.data">
          <td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"
               (nzCheckedChange)="refreshStatus($event)" *ngIf="!ReadOnly"></td>
            <td >{{i.item.username}}</td>
            <td >{{i.item.fullName}}</td>
            <td >{{i.item.nickname}}</td>
            <td >{{i.item.email}}</td>
            <td >{{i.item.phone}}</td>
            <td >{{i.item.status | bylMasterDataStatus}}</td>
            <td >{{i.item.remarks }}</td>
            <td *ngIf="!ReadOnly" >
                <span>
                <a (click)="delete(i.item.id)">删除</a>
                </span>
            </td>
        </tr>
        </tbody>
    </nz-table>
</div>
