<page-header [title]="'组织管理'" >
    <ng-template #action>
        <button nz-button (click)="add()" [nzType]="'default'" >
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" >
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <!--<ng-container *ngIf="selectedRows.length > 0">-->
        <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
        <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
        <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
        <!--更多操作 <i class="anticon anticon-down"></i>-->
        <!--</button>-->
        <!--<ul nz-menu>-->
        <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
        <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
        <!--</ul>-->
        <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" ></byl-list-query-widget>

<!--<nz-card [nzBordered]="false">-->
    <!--<form nz-form (ngSubmit)="search()" [nzLayout]="'inline'">-->
        <!--<div nz-row [nzGutter]="24">-->
          <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24" class="mb-md">-->
                <!--<nz-form-item [nzFlex]>-->
                  <!--<nz-form-label [nzFor]="'qName'">名称类似于</nz-form-label>-->
                    <!--<nz-form-control>-->
                        <!--<input nz-input [(ngModel)]="qData.name" name="qName" [nzSize]="'large'" placeholder="请输入"-->
                                  <!--id="qName">-->
                    <!--</nz-form-control>-->
                <!--</nz-form-item>-->
            <!--</div>-->
          <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24" class="mb-md">-->
                <!--<nz-form-item [nzFlex]>-->
                  <!--<nz-form-label [nzFor]="'qCode'">代码类似于</nz-form-label>-->
                    <!--<nz-form-control>-->
                        <!--<input nz-input [(ngModel)]="qData.code" name="qCode" [nzSize]="'large'" placeholder="请输入"-->
                                  <!--id="qCode">-->
                    <!--</nz-form-control>-->

                    <!--&lt;!&ndash;<div nz-form-control class="flex-1">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">&ndash;&gt;-->
                    <!--&lt;!&ndash;<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.label"&ndash;&gt;-->
                    <!--&lt;!&ndash;[nzValue]="i.value"></nz-option>&ndash;&gt;-->
                    <!--&lt;!&ndash;</nz-select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</nz-form-item>-->
            <!--</div>-->
          <!--<div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24" class="mb-md">-->
                <!--<nz-form-item [nzFlex]>-->
                  <!--<nz-form-label [nzFor]="'qSimpleName'">简称类似于</nz-form-label>-->
                    <!--<nz-form-control >-->
                        <!--<input nz-input [(ngModel)]="qData.simpleName" name="qSimpleName" [nzSize]="'large'" placeholder="请输入"-->
                                  <!--id="qSimpleName">-->
                    <!--</nz-form-control>-->
                <!--</nz-form-item>-->
            <!--</div>-->
            <!--<div *ngIf="expandQuery" nz-col [nzLg]="6"  [nzMd]="8" [nzSm]="12"  [nzXs]="24"  class="mb-md">-->
              <!--<nz-form-item [nzFlex]>-->
                <!--<nz-form-label [nzFor]="'qModifyDateBegin'">最后修改起始日期</nz-form-label>-->
                <!--<nz-form-control>-->
                  <!--<nz-calendar [nzCard]  [(ngModel)]="qData.modifyDateBegin" name="qModifyDateBegin" id="qModifyDateBegin"-->
                  <!--&gt;</nz-calendar>-->
                <!--</nz-form-control>-->
              <!--</nz-form-item>-->
            <!--</div>-->

            <!--<div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12"  [nzXs]="24"   class="mb-md">-->
              <!--<nz-form-item [nzFlex]>-->
                <!--<nz-form-label [nzFor]="'qModifyDateEnd'">最后修改截止日期</nz-form-label>-->
                <!--<nz-form-control >-->
                  <!--<nz-calendar [nzDateFullCell] [(ngModel)]="qData.modifyDateEnd"-->
                               <!--name="qModifyDateEnd" id="qModifyDateEnd"></nz-calendar>-->
                <!--</nz-form-control>-->
              <!--</nz-form-item>-->
            <!--</div>-->

            <!--&lt;!&ndash;<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="expandQuery">&ndash;&gt;-->
          <!--<div nz-col [nzLg]="expandQuery ? 24 : 6"  [nzMd]="expandQuery ? 24 : 8"  [nzSm]="expandQuery ? 24 : 12"  [nzXs]="expandQuery ? 24 : 24" class="mb-md" [class.text-right]="true">-->
                <!--&lt;!&ndash;<button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询&ndash;&gt;-->
                <!--&lt;!&ndash;</button>&ndash;&gt;-->
                <!--<button nz-button type="reset" (click)="reset()" [nzSize]="'large'" class="mx-sm">重置</button>-->
                <!--<a (click)="expandQuery =!expandQuery">-->
                    <!--{{expandQuery ? '收起' : '展开'}}-->
                    <!--<i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</nz-card>-->
<nz-card [nzBordered]="false">
    <!--<div class="mb-md">-->
    <!--<button nz-button (click)="add()" [nzType]="'primary'" [nzSize]="'large'">-->
    <!--<i class="anticon anticon-plus"></i><span>新建</span>-->
    <!--</button>-->
    <!--<ng-container *ngIf="selectedRows.length > 0">-->
    <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->
    <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
    <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
    <!--更多操作 <i class="anticon anticon-down"></i>-->
    <!--</button>-->
    <!--<ul nz-menu>-->
    <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
    <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
    <!--</ul>-->
    <!--</nz-dropdown>-->
    <!--</ng-container>-->
    <!--</div>-->
    <!--<div class="mb-md">-->
    <!--<nz-alert [nzType]="'info'" [nzShowIcon]="true">-->

    <!--<span alert-body>-->
    <!--已选择 <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp;-->
    <!--&lt;!&ndash;服务调用总计 <strong>{{totalCallNo}}</strong> 万&ndash;&gt;-->
    <!--&lt;!&ndash;<a *ngIf="totalCallNo > 0" (click)="clear()" class="ml-lg">清空</a>&ndash;&gt;-->
    <!--</span>-->
    <!--</nz-alert>-->
    <!--</div>-->
    <!--<nz-table #nzTable [nzDataSource]="listData" [nzPageSize]="page.pageSize" [nzLoading]="loading" >-->
    <!--(nzDataChange)="dataChange($event)"-->
    <!--(nzPageIndexChange)="pageChange($event)">-->
    <nz-table #nzTable [nzData]="listData" [(nzPageSize)]="page.pageSize" [(nzPageIndex)]="page.page" [nzLoading]="loading"
              nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="total"
              (nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">
        <thead >
        <tr>
          <th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
               (nzCheckedChange)="checkAll($event)"></th>
            <th ><span>代码</span></th>
            <th ><span>名称</span></th>
            <th >
                <span>简称</span>

            </th>
            <th >
                <span>法人代表</span>
            </th>
            <th >
                <span>组织类型</span>
            </th>
            <th >
                <span>更新时间</span>
                <!--<nz-table-sort [(nzValue)]="sortMap.updatedAt"-->
                <!--(nzValueChange)="sort('updatedAt',$event)"></nz-table-sort>-->
            </th>

            <th ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let i of nzTable.data">
          <td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"
               (nzCheckedChange)="refreshStatus($event)"></td>
            <td >{{i.item.code}}</td>
            <td >{{i.item.name}}</td>
            <td >{{i.item.simpleName}}</td>
            <td >{{i.item.legalPerson?.legalPersonName}}</td>
            <td >{{i.item.type | bylOrganizationType}}</td>
            <td >{{i.item.modifyAction.modifyDateTime | _date}}</td>
            <td >
                <span>
                    <a (click)="modifyEntity(i.item.id)">修改</a>

                </span>
            </td>
        </tr>
        </tbody>
    </nz-table>

</nz-card>
