<page-header [title]="'员工维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab [nzTitle]="'基本信息'">
            <span>
              <sf  #sf [button]="null"
                   [schema]="emptyFormSchema"
                   [formData]="businessData"
                   mode="edit"
                   (formError)="error($event)">
                <button type="submit" nz-button [disabled]="!sf.valid" (click)="submitForm()">提交</button>
                <button (click)="reset()"  type="button" nz-button>重置</button>

              </sf>

            </span>
            <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>
          <p>formdata:{{sfForm.value | json}}</p>
          <p>businessData:{{businessData | json}}</p>
        </nz-tab>


        <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
          <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
        </nz-tab>

    </nz-tabset>

</nz-card>

