<page-header [title]="'权限管理'" *ngIf="functionMode === LIST_MODE" >
    <ng-template #action>
        <!--<button nz-button (click)="add()" [nzType]="'default'" [nzSize]="'large'">-->
            <!--<i class="anticon anticon-plus"></i><span>新建</span>-->
        <!--</button>-->
        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <!--<ng-container *ngIf="selectedRows.length > 0">-->


            <!--<button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>-->

            <!--<nz-dropdown [nzPlacement]="'bottomLeft'">-->
                <!--<button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">-->
                    <!--更多操作 <i class="anticon anticon-down"></i>-->
                <!--</button>-->
                <!--<ul nz-menu>-->
                    <!--<li nz-menu-item (click)="batchDelete()">删除</li>-->
                    <!--<li nz-menu-item (click)="batchApproval()">批量审批</li>-->
                <!--</ul>-->
            <!--</nz-dropdown>-->
        <!--</ng-container>-->

    </ng-template>
</page-header>
<byl-list-query-widget [defaultData]="queryDefaultData" [schema]="querySchema"
                       [uiSchema]="queryUiSchema" [actionTemplateRef]="queryAction"></byl-list-query-widget>
<ng-template #queryAction >
  <ng-container *ngIf="functionMode === SELECT_MODE">
    <button nz-button (click) = "batchSelect($event)" [nzType]="'default'"  class="ml-sm">
      <i class="anticon anticon-plus"></i><span>添加</span>
    </button>
    <button nz-button  (click)="search()" [nzType]="'primary'" [nzLoading]="loading"  class="ml-sm">
      <i class="anticon anticon-search"></i><span>查询</span>
    </button>
  </ng-container>
</ng-template>

<nz-card [nzBordered]="false">

    <nz-table #nzTable [nzData]="listData" [(nzPageSize)]="page.pageSize" [(nzPageIndex)]="page.page" [nzLoading]="loading"
              nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="total"
              (nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">
        <thead >
          <tr>
            <th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                 (nzCheckedChange)="checkAll($event)"></th>
              <th ><span>包</span></th>
              <th ><span>模块</span></th>
              <th ><span>功能</span></th>
              <th >
                  <span>备注</span>
              </th>

              <!--<th ><span>操作</span></th>-->
          </tr>
        </thead>
        <tbody >
          <tr  *ngFor="let i of nzTable.data">
            <td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"
                 (nzCheckedChange)="refreshStatus($event)"></td>
              <td >{{i.item.packageName}}</td>
              <td >{{i.item.moduleName}}</td>
              <td >{{i.item.action}}</td>
              <td >{{i.item.remarks }}</td>
              <!--<td >-->
                  <!--<span>-->
                      <!--<a (click)="modifyEntity(i.item.id)">修改</a>-->
                  <!--</span>-->
              <!--</td>-->
          </tr>
        </tbody>
    </nz-table>
  <byl-select-info-formitem [selectedRows]="selectedRows"></byl-select-info-formitem>
</nz-card>
