<page-header [title]="'账户管理'" *ngIf="functionMode === LIST_MODE" >
    <ng-template #action>
        <button nz-button (click)="add()" [nzType]="'default'" [nzSize]="'large'">
            <i class="anticon anticon-plus"></i><span>新建</span>
        </button>
        <button nz-button (click)="search()" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">
            <i class="anticon anticon-search"></i><span>查询</span>
        </button>
        <ng-container *ngIf="selectedRows.length > 0">


            <button nz-button [nzSize]="'large'" class="ml-sm">批量操作</button>

            <nz-dropdown [nzPlacement]="'bottomLeft'">
                <button nz-button nz-dropdown [nzSize]="'large'" class="ml-sm">
                更多操作 <i class="anticon anticon-down"></i>
                </button>
                <ul nz-menu>
                    <li nz-menu-item (click)="batchDelete()">删除</li>
                    <li nz-menu-item (click)="batchApproval()">批量审批</li>
                </ul>
            </nz-dropdown>
        </ng-container>

    </ng-template>
</page-header>
<nz-card [nzBordered]="false">
    <!--(ngSubmit)="search()"-->
    <form nz-form [nzLayout]="'inline'">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12" [nzXs]="24" class="mb-md">
                <nz-form-item [nzFlex]>
                  <nz-form-label [nzFor]="'qCode'">代码类似于</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="qData.code" name="'qCode'"
                               [nzSize]="'large'" placeHolder="请输入"
                                  id="qCode">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzLg]="6" [nzMd]="8"  [nzSm]="12"  [nzXs]="24"  class="mb-md">
                <nz-form-item [nzFlex]>
                  <nz-form-label [nzFor]="'qFullName'">姓名类似于</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="qData.fullName" name="qFullName"
                               [nzSize]="'large'" placeHolder="请输入"  id="qFullName">
                    </nz-form-control>

                </nz-form-item>
            </div>
            <div nz-col [nzLg]="6"  [nzMd]="8" [nzSm]="12"  [nzXs]="24"   class="mb-md">
                <nz-form-item [nzFlex]>
                  <nz-form-label [nzFor]="'qNickname'">昵称类似于</nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="qData.nickname" name="qNickname" [nzSize]="'large'" placeHolder="请输入"
                                  id="qNickname">
                    </nz-form-control>

                    <!--<div nz-form-control class="flex-1">-->
                    <!--<nz-select [(ngModel)]="qData.status" name="'qStatus'" nzId="'qStatus'" [nzPlaceHolder]="'请选择'"-->
                    <!--[nzShowSearch]="true" [nzSize]="'large'" [nzMode]="'multiple'">-->
                    <!--<nz-option *ngFor="let i of statusList; let idx = index" [nzLabel]="i.caption"-->
                    <!--[nzValue]="i.value"></nz-option>-->
                    <!--</nz-select>-->
                    <!--</div>-->
                </nz-form-item>
            </div>

            <div *ngIf="expandQuery" nz-col [nzLg]="6"  [nzMd]="8" [nzSm]="12"  [nzXs]="24"  class="mb-md">
                <nz-form-item [nzFlex]>
                  <nz-form-label [nzFor]="'qModifyDateBegin'">最后修改起始日期</nz-form-label>
                    <nz-form-control>
                        <nz-calendar [nzCard]  [(ngModel)]="qData.modifyDateBegin" name="qModifyDateBegin" id="qModifyDateBegin"
                                     ></nz-calendar>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div *ngIf="expandQuery" nz-col [nzLg]="6" [nzMd]="8" [nzSm]="12"  [nzXs]="24"   class="mb-md">
                <nz-form-item [nzFlex]>
                  <nz-form-label [nzFor]="'qModifyDateEnd'">最后修改截止日期</nz-form-label>
                    <nz-form-control >
                        <nz-calendar [nzDateFullCell] [(ngModel)]="qData.modifyDateEnd"
                                     name="qModifyDateEnd" id="qModifyDateEnd"></nz-calendar>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <!--<div nz-col [nzSpan]="expandQuery ? 24 : 8" class="mb-md" [class.text-right]="expandQuery">-->
            <div nz-col [nzLg]="expandQuery ? 24 : 6"  [nzMd]="expandQuery ? 24 : 8"  [nzSm]="expandQuery ? 24 : 12"  [nzXs]="expandQuery ? 24 : 24" class="mb-md" [class.text-right]="true">
                <!--<button nz-button type="submit" [nzType]="'primary'" [nzLoading]="loading" [nzSize]="'large'">查询-->
                <!--</button>-->
                <ng-container *ngIf="functionMode === SELECT_MODE">
                    <ng-container *ngIf="selectedRows.length > 0">
                        <button nz-button [nzSize]="'large'" class="mx-sm" (click) = "batchSelect($event)"
                                [nzType]="'primary'" >
                        添加
                        </button>
                    </ng-container>
                    <button nz-button  (click)="search()" [nzType]="'default'" [nzLoading]="loading" [nzSize]="'large'">
                        <i class="anticon anticon-search"></i><span>查询</span>
                    </button>

                </ng-container>

                <button nz-button type="reset" (click)="resetQuery()" [nzSize]="'large'" class="mx-sm">重置</button>
                <a (click)="expandQuery =!expandQuery">
                    {{expandQuery ? '收起' : '展开'}}
                    <i class="anticon" [class.anticon-down]="!expandQuery" [class.anticon-up]="expandQuery"></i>
                </a>
            </div>
        </div>
    </form>
</nz-card>
<nz-card [nzBordered]="false">

    <nz-table #nzTable [nzData]="listData" [nzPageSize]="page.pageSize" [nzLoading]="loading"
              nzShowSizeChanger [nzTotal]="total" [(nzPageIndex)]="page.page" nzShowTotal="true"
              (nzPageIndexChange)="search()" (nzPageSizeChange)="pageSizeChange($event)">
        <thead>
        <tr>
            <th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                 (nzCheckedChange)="checkAll($event)"></th>
            <th ><span>代码</span></th>
            <th ><span>姓名</span></th>
            <th ><span>昵称</span></th>
            <th >
                <span>邮箱</span>
                <!--<nz-dropdown [nzTrigger]="'click'">-->
                <!--<i class="anticon anticon-filter" nz-dropdown></i>-->
                <!--<ul nz-menu>-->
                <!--<li nz-menu-item *ngFor="let i of statusList">-->
                <!--<label nz-checkbox [(ngModel)]="i.value"><span>{{i.caption}}</span></label>-->
                <!--</li>-->
                <!--</ul>-->
                <!--<div nz-table-filter>-->
                <!--<span nz-table-filter-confirm (click)="search()">确定</span>-->
                <!--<span nz-table-filter-clear>重置</span>-->
                <!--</div>-->
                <!--</nz-dropdown>-->
            </th>
            <th >
                <span>手机</span>
            </th>
            <th >
                <span>状态</span>
            </th>
            <th >
                <span>备注</span>
            </th>

            <th  *ngIf="functionMode === LIST_MODE" ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
        <tr *ngFor="let i of nzTable.data">
            <td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"
                 (nzCheckedChange)="refreshStatus($event)"></td>
            <td >{{i.item.username}}</td>
            <td >{{i.item.fullName}}</td>
            <td >{{i.item.nickname}}</td>
            <td >{{i.item.email}}</td>
            <td >{{i.item.phone}}</td>
            <td >{{i.item.status}}</td>
            <td >{{i.item.remarks }}</td>
            <td  *ngIf="functionMode === LIST_MODE" >
                <a (click)="modifyEntity(i.item.id)">修改</a>
            </td>
        </tr>
        </tbody>
    </nz-table>

</nz-card>
