<nz-card [nzBordered]="false">
<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>

  <nz-form-item nz-row>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="'true'" [nzFor]="old">
                                        旧密码
    </nz-form-label>

    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input-group  nzAddonBeforeIcon="anticon anticon-user">
        <input nz-input type="password" formControlName="old" placeholder="旧密码">
      </nz-input-group>
      <ng-container *ngIf="old.dirty && old.errors">
        <nz-form-explain *ngIf="old.errors?.required">请输入旧密码！</nz-form-explain>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="'true'" [nzFor]="password">
      新密码
    </nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-popover [nzPlacement]="'right'" [nzTrigger]="'focus'" [(nzVisible)]="visible"
                  nzOverlayClassName="register-password-cdk" [nzOverlayStyle]="{'width.px': 240}">
        <nz-input-group  nz-popover nzAddonBeforeIcon="anticon anticon-lock" nz-col [nzSm]="20">
          <input nz-input type="password" formControlName="password" placeholder="至少6位密码，区分大小写">
        </nz-input-group>
        <nz-form-explain *ngIf="password.dirty && password.errors">请输入密码！</nz-form-explain>
        <ng-template #nzTemplate>
          <div style="padding: 4px 0;">
            <ng-container [ngSwitch]="status">
              <div *ngSwitchCase="'ok'" class="success">强度：强</div>
              <div *ngSwitchCase="'pass'" class="warning">强度：中</div>
              <div *ngSwitchDefault class="error">强度：太短</div>
            </ng-container>
            <div class="progress-{{status}}">
              <nz-progress
                [nzPercent]="progress"
                [nzStatus]="passwordProgressMap[status]"
                [nzStrokeWidth]="6"
                [nzShowInfo]="false"></nz-progress>
            </div>
            <p class="mt-sm">请至少输入 6 个字符。请不要使用容易被猜到的密码。</p>
          </div>
        </ng-template>
      </nz-popover>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item nz-row>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="'true'" [nzFor]="confirm">
      新密码确认
    </nz-form-label>

    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-input-group nzAddonBeforeIcon="anticon anticon-lock" nz-col [nzSm]="20">
        <input nz-input type="password" formControlName="confirm" placeholder="确认密码">
      </nz-input-group>
      <ng-container *ngIf="confirm.dirty && confirm.errors">
        <nz-form-explain *ngIf="confirm.errors?.required">请确认密码！</nz-form-explain>
        <nz-form-explain *ngIf="confirm.errors?.equar">两次输入的密码不匹配！</nz-form-explain>
      </ng-container>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row nzType="flex" nzJustify="center">
    <button nz-button [disabled]="!form.valid"  nzType="primary" type="submit" [nzLoading]="loading" class="submit">
      保存
    </button>

    <button nz-button (click)="reset()" [nzType]="'default'">重置</button>

  </nz-form-item>
</form>

</nz-card>
