<page-header [title]="'账户信息维护'" *ngIf="processType.length > 0 "></page-header>
<nz-card [nzBordered]="false">
    <nz-tabset>
        <nz-tab [nzTitle]="'基本信息'">
          <sf  #sf [button]="null"
               [schema]="emptyFormSchema"
               [formData]="businessData"
               mode="edit"
               (formError)="error($event)">
            <button type="submit" nz-button [disabled]="!sf.valid"  (click)="submitForm()"
                    *ngIf="showSaveButton()" [nzLoading]="loading">保存</button>
            <button (click)="reset()"  type="button" nz-button *ngIf="showSaveButton()">重置</button>
            <button nz-button [disabled]="!sf.valid" (click)="submitEntity()"
                    *ngIf="showSubmitButton()" [nzLoading]="loading">提交</button>
            <button nz-button (click)="lockEntity()" *ngIf="showLockButton()" [nzLoading]="loading">锁定</button>
            <button nz-button (click)="unlockEntity()" *ngIf="showUnlockButton()" [nzLoading]="loading">解锁</button>
            <button nz-button (click)="confirmEntity()" *ngIf="showConfirmButton()" [nzLoading]="loading">确认</button>
            <button nz-button (click)="unconfirmEntity()" *ngIf="showUnconfirmButton()" [nzLoading]="loading">取消确认</button>
            <button nz-button (click)="cancelEntity()" *ngIf="showCancelButton()" [nzLoading]="loading">作废</button>
          </sf>
          <byl-show-error-formitem [errorMessage]="errMsg"></byl-show-error-formitem>

          <!--<p>formdata:{{sfForm.value | json}}</p>-->
          <!--<p>businessData:{{businessData | json}}</p>-->

        </nz-tab>

        <nz-tab [nzDisabled]="!sourceId" nzTitle="权限" (nzClick)="permissionTabClick()">
            <!--<ng-template #nzTabHeading>权限</ng-template>-->
            <byl-permission-item-list #permissionList [masterId]="sourceId"
                                      [ReadOnly]="showBrowseButton()"
                                      [permissionRelationService]="accountService"
           >

            </byl-permission-item-list>
        </nz-tab>

        <nz-tab [nzDisabled]="!sourceId" nzTitle="菜单权限" (nzClick)="menuLinkTabClick()">
          <!--<ng-template #nzTabHeading>权限</ng-template>-->
          <byl-menu-link-item-list #menuLinkList [masterId]="sourceId"
                                   [ReadOnly]="showBrowseButton()"
                                   [menuRelationService]="accountService"
          >

          </byl-menu-link-item-list>
        </nz-tab>

        <nz-tab [nzDisabled]="!sourceId" nzTitle="重置密码">
          <!--<ng-template #nzTabHeading>权限</ng-template>-->
          <byl-reset-password [account]="businessData">
            </byl-reset-password>
        </nz-tab>
        <nz-tab [nzDisabled]="!sourceId" nzTitle="日志">
          <byl-entity-logger [entityId]="sourceId"></byl-entity-logger>
        </nz-tab>
        <!--<nz-tab>-->
            <!--<ng-template #nzTabHeading>日志</ng-template>-->
            <!--<span>-->
                <!--<nz-timeline>-->
                  <!--<nz-timeline-item [nzColor]="'green'">Create a services site 2015-09-01</nz-timeline-item>-->
                  <!--<nz-timeline-item [nzColor]="'green'">Solve initial network problems 2015-09-01</nz-timeline-item>-->
                  <!--<nz-timeline-item [nzColor]="'red'">Technical testing 2015-09-01</nz-timeline-item>-->
                  <!--<nz-timeline-item>Network problems being solved 2015-09-01</nz-timeline-item>-->
                <!--</nz-timeline>-->
            <!--</span>-->
        <!--</nz-tab>-->

    </nz-tabset>
    <!--<div nz-row >-->
    <!--<div  nz-col [nzSpan]="20" [nzOffset]="4">-->
    <!--<button nz-button [nzType]="'primary'" [nzSize]="'large'" (click) = "showButtonClick($event)">show</button>-->

    <!--</div>-->

    <!--</div>-->
</nz-card>

