<div >
    <button nz-button (click)="add()" [nzType]="'dashed'" [nzSize]="'large'" class="ant-btn__block mb-sm">
        <i class="anticon anticon-plus"></i><span>添加</span>
    </button>

    <button nz-button (click)="search()" [nzType]="'primary'" [nzSize]="'large'" class="ant-btn__block mb-sm">
        <i class="anticon anticon-search"></i><span>查询</span>
    </button>

    <nz-table #nzTable [nzData]="listData"  [nzLoading]="loading"
              [nzShowPagination]="false">
        <thead >
        <tr>
          <!--<th  nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"-->
               <!--(nzCheckedChange)="checkAll($event)"></th>-->
            <th ><span>类型</span></th>
            <th ><span>详细地址</span></th>
            <th >
                <span>邮政编码</span>
            </th>
            <!--<th >-->
                <!--<span>更新时间</span>-->
            <!--</th>-->

            <th ><span>操作</span></th>
        </tr>
        </thead>
        <tbody >
            <tr  *ngFor="let i of nzTable.data">
              <!--<td  nzShowCheckbox [(nzChecked)]="i.checked" [nzDisabled]="i.disabled"-->
                   <!--(nzCheckedChange)="refreshStatus($event)"></td>-->
                <td >{{i.item.type}}</td>
                <td >{{i.item.fullAddress}}</td>
                <td >{{i.item.zipCode}}</td>
                <!--<td >{{i.item.modifyAction.modifyDateTime | _date}}</td>-->
                <td >
                    <!--<a [routerLink]="['/account/role/crud', i.id]" >修改</a>-->
                    <span>
                        <a (click)="modifyEntity(i.item.id)">修改</a>
                    </span>
                    <span nz-table-divider></span>
                    <span>
                        <a (click)="delete(i.item.item.id)">删除</a>
                    </span>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
