<!--<nz-tab [nzTitle] = "title" (nzClick)="entityLoggerClick()">-->
    <div nz-row>
                <span>
                    <nz-timeline >
                        <ng-template ngFor let-item [ngForOf]="entityLogList" let-i="index">
                            <nz-timeline-item  [nzColor]="getColorFromAction(item.action)">
                              <p>{{item.modifyAction.modifyDateTime | _date }}</p>
                              <p>{{item.action}}</p>
                              <p>{{item.data}}</p>
                            </nz-timeline-item>
                        </ng-template>

                    </nz-timeline>
                </span>
    </div>
    <byl-show-error-formitem [errorMessage]="entityLogErrorMsg" [msgTitle]="'获取日志错误'"></byl-show-error-formitem>
    <!--<div nz-row>-->
        <!--<ng-container *ngIf="entityLogErrorMsg && entityLogErrorMsg.length > 0">-->
            <!--<nz-alert [nzType]="'error'" nzCloseable [nzMessage]="'获取日志错误'"-->
                      <!--[nzDescription]="entityLogErrorMsg"-->
            <!--&gt;</nz-alert>-->
        <!--</ng-container>-->

    <!--</div>-->
    <div nz-row >
        <button nz-button (click)="search()" [nzLoading]="loading">重新查询</button>
    </div>
<!--</nz-tab>-->
