<div [formGroup]="hostForm">
  <nz-form-item >
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzRequired]="isRequired" [nzFor]="controlName" >{{labelCaption}}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzHasFeedback>
      <nz-radio-group [formControlName]="controlName" [id]="controlName"  >
        <label *ngFor="let option of selectOptions" nz-radio-button [nzValue]="option.value">
          {{option.caption}}</label>
      </nz-radio-group>

      <nz-form-explain *ngIf="inputControl.dirty && inputControl.errors">
        <ng-container *ngIf="inputControl.hasError('required')">必须选择{{labelCaption}}</ng-container>
        <ng-container *ngIf="inputControl.hasError('other')">验证出现异常：{{validatedExtraInfo}}</ng-container>
        <ng-container *ngIf="inputControl.pending">验证中...</ng-container>
      </nz-form-explain>

    </nz-form-control>
  </nz-form-item>

</div>
